Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

Fix font-awesome dependencies
  frontend/package.json
  frontend/src/components/station/GripState.vue
  frontend/src/components/trajectories/Trajectories.stories.ts
  frontend/src/main.ts
  frontend/src/plugins/font-awesome.ts
  frontend/src/plugins/vuetify.ts
  frontend/yarn.lock
Due: frontend

Update letter_mapping.py
  robot/letter_reading/letter_mapping.py
Due: robot

crying a lot thank you very much
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
Due: frontend

everything works fine baby
  station/robot_goal_and_obstacle_finder/detection/hard_code_position/square_corner_detection.py
Due: station

fix tests
  scripts/src/mapping/resistance_value.py
  station/controller/mapping/resistance.py
  station/controller/mapping/resistance_value.py
Due: scripts, station

update resistance and color decoding in handlers
  station/controller/handlers/read_letters_handler.py
Due: station

save
  station/controller/handlers/move_robot/move_robot_to_resistance_station_handler.py
  station/controller/handlers/move_robot/move_robot_to_square_center_handler.py
  station/controller/handlers/read_letters_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/main
  station/path_following/main
Due: station

corrections puck detection et sort plus changement position prehenseur
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/obstacle_and_robot_finder.py
  station/robot_goal_and_obstacle_finder/detection/color_boundaries.py
  station/robot_goal_and_obstacle_finder/detection/puck_detection.py
Due: station

works
  station/controller/handlers/move_robot/move_robot_to_square_center_handler.py
  station/controller/main
  station/path_following/main
Due: station

works rn
  station/controller/main
Due: station

fix
  station/path_following/main
  station/path_following/path_following/vectorizer.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/obstacle_and_robot_finder.py
  station/robot_goal_and_obstacle_finder/main
Due: station

vieux biner, je passait pas l'image
  station/robot_goal_and_obstacle_finder/main
Due: station

works
  robot/letter_reading/letter_mapping.py
  robot/motor_driver/main
Due: robot

websockets works
  station/controller/handlers/move_robot/move_robot_to_resistance_station_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/launch/debug.launch
  station/controller/main
  station/websockets/launch/websocket.launch
  station/websockets/main
Due: station

Add simple puck list with colors
  frontend/src/components/station/GripState.vue
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/factories/StateFactory.ts
  frontend/src/plugins/vuetify.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/color.ts
  frontend/src/types/puck.ts
  frontend/src/types/puckList.ts
  frontend/src/types/puckState.ts
Due: frontend

Committing since there's a lot of changes (WIP)
  frontend/src/components/station/FirstCorner.vue
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/factories/StateFactory.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/color.ts
  frontend/src/types/corner.ts
  frontend/src/types/puck.ts
  frontend/src/types/puckList.ts
Due: frontend

Update more usage of state, getting there! (WIP)
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/store/mutations.ts
  frontend/src/types/corner.ts
  frontend/src/types/puck.ts
  frontend/src/types/puckList.ts
Due: frontend

Fix temporary mutation with new logic
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/store/mutations.ts
Due: frontend

Fix some tests (WIP)
  frontend/src/components/station/FirstCorner.test.ts
  frontend/src/factories/PuckFactory.ts
  frontend/src/factories/PuckListFactory.ts
  frontend/src/factories/PuckStateFactory.ts
  frontend/src/types/puckList.ts
Due: frontend

Fix all errors, still missing tests and stories (WIP)
  frontend/src/components/station/GripState.test.ts
  frontend/src/components/station/GripState.vue
  frontend/src/components/station/PuckDeposit.test.ts
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/components/station/Resistance.test.ts
  frontend/src/types/puck.ts
  frontend/src/types/puckList.ts
  frontend/src/types/puckState.ts
Due: frontend

Constructor cleanup (WIP)
  frontend/src/components/station/PuckDeposit.test.ts
  frontend/src/factories/PuckFactory.ts
  frontend/src/factories/PuckListFactory.ts
  frontend/src/types/puck.ts
  frontend/src/types/puckList.ts
Due: frontend

Fix usage of factory (WIP)
  frontend/src/factories/PuckFactory.ts
  frontend/src/factories/PuckListFactory.ts
  frontend/src/types/puckList.ts
Due: frontend

Got PuckDeposit tests to work
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/factories/PuckFactory.ts
  frontend/src/factories/PuckListFactory.ts
  frontend/src/types/puck.ts
  frontend/src/types/puckList.ts
  frontend/src/util/wrapWithVuetifyAndStore.ts
Due: frontend

Fix tests (WIP : One remains)
  frontend/src/components/station/FirstCorner.test.ts
  frontend/src/components/station/FirstCorner.vue
  frontend/src/components/station/GripState.test.ts
  frontend/src/components/station/Resistance.test.ts
  frontend/src/components/station/Resistance.vue
  frontend/src/types/puckList.ts
Due: frontend

Fix FirstCorner stories
  frontend/src/components/station/FirstCorner.stories.ts
  frontend/src/components/station/FirstCorner.test.ts
  frontend/src/components/station/FirstCorner.vue
Due: frontend

Fix GripState stories
  frontend/src/components/station/GripState.stories.ts
  frontend/src/components/station/GripState.test.ts
  frontend/src/factories/PuckListFactory.ts
Due: frontend

Fix PuckDeposit stories
  frontend/src/components/station/PuckDeposit.stories.ts
  frontend/src/components/station/PuckDeposit.test.ts
Due: frontend

Fix Resistance stories
  frontend/src/components/station/Resistance.stories.ts
  frontend/src/components/station/Resistance.test.ts
  frontend/src/factories/StateFactory.ts
Due: frontend

Add puck number to class
  frontend/src/components/station/PuckDeposit.stories.ts
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/components/station/Resistance.vue
  frontend/src/types/puck.ts
  frontend/src/types/puckList.ts
Due: frontend

Fix corner missing
  frontend/src/components/station/FirstCorner.vue
Due: frontend

Remove old mutations
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/store/mutations.ts
Due: frontend

Fix column size
  frontend/src/components/station/PuckDeposit.vue
Due: frontend

send negative angle to motor_driver
  station/CMakeLists.txt
  station/__init__.py
  station/path_following/main
Due: station

motor driver uses negative angles
  robot/motor_driver/main
Due: robot

refactor send_movement_vector part 1
  station/path_following/main
Due: station

refactor realignment
  station/path_following/main
  station/path_following/path_following/vectorizer.py
Due: station

refactor move robot to goal 2: electric boogaloo
  station/path_following/main
Due: station

pylint estiiiiiiiii
  robot/letter_reading/letter_mapping.py
Due: robot

should fix pylint
  station/.pylintrc
  station/controller/handlers/grip_puck_handler.py
  station/controller/handlers/move_robot/move_robot_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/handlers/move_robot/move_robot_to_resistance_station_handler.py
  station/controller/handlers/read_letters_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/handlers/release_puck_handler.py
  station/controller/mapping/color.py
  station/controller/mapping/tests/test_resistance.py
  station/path_following/path_following/vectorizer.py
Due: station

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
