Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

minors fixes
  frontend/src/components/cycles/CycleList.vue
  frontend/src/components/cycles/CyclesInformations.vue
  frontend/src/components/station/StationInformations.vue
Due: frontend

Fix scripts CI
  .github/workflows/scripts-ci.yml
Due: none

Use env var for codecov token
  .github/workflows/scripts-ci.yml
Due: none

Try something else for CI
  .github/workflows/scripts-ci.yml
Due: none

fix merge with develop
  frontend/src/App.vue
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/station/StationInformation.vue
  frontend/src/layouts/MainLayout.vue
  frontend/src/views/Main.vue
Due: frontend

Try to upload via bash
  .github/workflows/scripts-ci.yml
Due: none

Fix cov source
  .github/workflows/scripts-ci.yml
Due: none

Use CI env for scripts
  .github/workflows/scripts-ci.yml
Due: none

Last try
  .github/workflows/scripts-ci.yml
Due: none

Try CI env
  .github/workflows/scripts-ci.yml
Due: none

Add logic for commands and handlers in station
  station/main/src/commands/__init__.py
  station/main/src/commands/command.py
  station/main/src/commands/handler.py
  station/main/src/main.py
  station/main/tests/commands/__init__.py
  station/main/tests/commands/test_command.py
  station/requirements.txt
Due: station

Implement classes in tests
  station/main/tests/commands/test_command.py
Due: station

puck detection
  scripts/detection/camera_color_detection.py
  scripts/detection/detect_shape.py
  scripts/detection/images/.DS_Store
  scripts/detection/images/camera_monde3.jpg
  scripts/detection/puck_detection.py
  scripts/detection/track_bar_color.py
  scripts/tests/detection/test_lower_boundary.py
Due: scripts

Add command factory to station
  station/main/src/commands/command_factory.py
  station/main/src/commands/read_image_handler.py
  station/main/tests/commands/test_command_factory.py
Due: station

generate puck position
  scripts/detection/lower_boundary.py
  scripts/detection/puck_detection.py
  scripts/detection/upper_boundary.py
Due: scripts

Refactor command factory
  station/main/src/commands/command.py
  station/main/src/commands/command_factory.py
  station/main/src/commands/read_image_handler.py
  station/main/src/readers/__init__.py
  station/main/src/readers/image_reader.py
  station/main/tests/commands/test_command_factory.py
Due: station

Remove TODO
  station/main/src/commands/command_factory.py
Due: station

Rework structure
  station/main/src/handlers/__init__.py
  station/main/src/handlers/handler.py
  station/main/src/handlers/read_image_handler.py
  station/main/tests/commands/test_command.py
  station/main/tests/commands/test_command_factory.py
Due: station

Upper and lower boundaries of colors and new images
  scripts/detection/images/camera_monde2.jpg
  scripts/detection/images/camera_monde4.jpg
  scripts/detection/images/camera_monde_exemple1.jpg
  scripts/detection/images/camera_monde_sans_contour.png
  scripts/detection/images/exemple_images.jpeg
  scripts/detection/images/monde.jpg
  scripts/detection/images/monde10.jpg
  scripts/detection/images/monde11.jpg
  scripts/detection/images/monde12.jpg
  scripts/detection/images/monde13.jpg
  scripts/detection/images/monde14.jpg
  scripts/detection/images/monde2.jpg
  scripts/detection/images/monde3.jpg
  scripts/detection/images/monde4.jpg
  scripts/detection/images/monde5.jpg
  scripts/detection/images/monde6.jpg
  scripts/detection/images/monde7.jpg
  scripts/detection/images/monde8.jpg
  scripts/detection/images/monde9.jpg
  scripts/detection/lower_boundary.py
  scripts/detection/puck_detection.py
  scripts/detection/track_bar_color.py
  scripts/detection/upper_boundary.py
Due: scripts

Test sample handler
  station/main/src/handlers/read_image_handler.py
  station/main/tests/handlers/__init__.py
  station/main/tests/handlers/test_read_image_handler.py
Due: station

Add test for image reader (now need to install OpenCV)
  station/main/data/images/command_panel_example_1.png
  station/main/data/images/command_panel_example_2.png
  station/main/src/readers/image_reader.py
  station/main/tests/readers/__init__.py
  station/main/tests/readers/test_image_reader.py
  station/main/tests/util/__init__.py
  station/main/tests/util/command_panel_helper.py
Due: station

Add open CV requirement
  station/requirements.txt
Due: station

Enhance Dockerfile
  station/Dockerfile
Due: station

Add opencv to Dockerfile
  station/Dockerfile
Due: station

Implement reading images from files
  station/data/images/command_panel_example_1.png
  station/data/images/command_panel_example_2.png
  station/main/tests/util/command_panel_helper.py
Due: station

Supply example start of commands
  station/main/src/main.py
Due: station

Refactor logic to pass handled data
  station/main/src/commands/command.py
  station/main/src/handlers/handler.py
  station/main/tests/commands/test_command.py
Due: station

vieux test passe pas
  scripts/tests/__init__.py
  scripts/tests/detection/test_lower_boundary.py
  scripts/tests/detection/test_puck_detection.py
Due: scripts

Change passing data between handlers
  station/main/tests/commands/test_command.py
Due: station

Fix lint
  station/.pylintrc
  station/main/src/handlers/read_image_handler.py
  station/main/tests/commands/test_command.py
  station/main/tests/handlers/test_read_image_handler.py
Due: station

Fix typo
  station/main/tests/commands/test_command_factory.py
Due: station

Add OpenCV and Tesseract to robot dockerfile
  robot/Dockerfile
  scripts/Dockerfile
Due: scripts, robot

Add same chain of command as station to robot
  robot/.pylintrc
  robot/Dockerfile
  robot/data/images/command_panel_example_1.png
  robot/data/images/command_panel_example_2.png
  robot/main/src/commands/__init__.py
  robot/main/src/commands/command.py
  robot/main/src/commands/command_factory.py
  robot/main/src/handlers/__init__.py
  robot/main/src/handlers/handler.py
  robot/main/src/handlers/read_image_handler.py
  robot/main/src/main.py
  robot/main/src/readers/__init__.py
  robot/main/src/readers/image_reader.py
  robot/main/tests/commands/__init__.py
  robot/main/tests/commands/test_command.py
  robot/main/tests/commands/test_command_factory.py
  robot/main/tests/handlers/__init__.py
  robot/main/tests/handlers/test_read_image_handler.py
  robot/main/tests/readers/__init__.py
  robot/main/tests/readers/test_image_reader.py
  robot/main/tests/util/__init__.py
  robot/main/tests/util/command_panel_helper.py
  robot/requirements.txt
  station/main/src/main.py
Due: robot, station

Add letter mapper
  robot/main/src/mappers/__init__.py
  robot/main/src/mappers/letter_mapper.py
  robot/main/tests/mappers/__init__.py
  robot/main/tests/mappers/test_letter_mapper.py
  robot/main/tests/util/command_panel_helper.py
Due: robot

unit tests on puck_detection
  scripts/detection/puck_detection.py
  scripts/tests/__init__.py
  scripts/tests/detection/__init__.py
  scripts/tests/detection/test_puck_detection.py
  scripts/tests/monde.jpg
  scripts/tests/test_puck_detection.py
Due: scripts

Add handler for letter mapper
  robot/main/src/handlers/map_letters_handler.py
  robot/main/src/main.py
  robot/main/tests/handlers/test_map_letters_handler.py
Due: robot

ready to merge
  scripts/tests/detection/monde.jpg
  scripts/tests/detection/test_lower_boundary.py
  scripts/tests/detection/test_puck_detection.py
  scripts/tests/detection/test_upper_boundary.py
Due: scripts

reformat
  scripts/detection/.DS_Store
  scripts/detection/color.py
  scripts/detection/lower_boundary.py
  scripts/detection/puck_detection.py
  scripts/detection/utils/detect_puck_arg.py
  scripts/detection/utils/stack_images.py
  scripts/detection/utils/track_bar_color.py
Due: scripts
