Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

fix for non scientific numbers
  station/controller/mapping/resistance.py
  station/controller/mapping/tests/test_resistance.py
Due: station

fix resistance
  station/controller/mapping/resistance.py
  station/controller/mapping/resistance_mapper.py
  station/controller/mapping/resistance_value.py
  station/controller/mapping/tests/test_resistance.py
Due: station

fix exponent color
  station/controller/handlers/read_resistance_handler.py
Due: station

yo
  frontend/package-lock.json
  frontend/src/store/mutations.ts
  station/controller/handlers/wait_for_frontend_cycle_start_handler.py
  station/websockets/main
  station/world_camera_driver/launch/camera.launch
Due: station, frontend

sauce qui peut
  station/controller/handlers/read_letters_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/handlers/wait_for_frontend_cycle_start_handler.py
  station/controller/main
  station/websockets/main
Due: station

fix color in e12 resistance values
  station/controller/mapping/resistance_value.py
Due: station

petit fix pour pan la caméra
  robot/letter_reading/letter_mapping.py
Due: robot

Add new mockers for websockets
  station/controller/handlers/read_resistance_handler.py
  station/websockets/main
  station/websockets/mock_letters.py
  station/websockets/mock_puck_colors.py
  station/websockets/mock_puck_is_in_grip.py
  station/websockets/mock_puck_is_not_in_grip.py
  station/websockets/mock_resistance.py
  station/websockets/mock_robot_consumption.py
Due: station

Correct some mocks
  station/websockets/mock_resistance.py
  station/websockets/mock_robot_consumption.py
Due: station

ajustements
  robot/letter_reading/letter_mapping.py
Due: robot

Correct some frontend logic
  frontend/src/store/mutations.ts
  frontend/src/types/puckList.ts
Due: frontend

Enhance some display logic
  frontend/src/components/station/FirstCorner.vue
  frontend/src/components/station/Resistance.vue
  frontend/src/types/puckList.ts
Due: frontend

Remove console logs
  frontend/src/store/mutations.ts
Due: frontend

Remove logs
  frontend/src/components/station/Resistance.vue
  frontend/src/types/puckList.ts
Due: frontend

remove unused import
  station/controller/handlers/read_resistance_handler.py
Due: station

fix tests until HandledData object. (We can't build objects that use rospy.rate outside of a running ROS node else it raises an exception)
  station/controller/commands/tests/test_command_builder.py
Due: station

remainder
  robot/letter_reading/letter_mapping.py
  robot/motor_driver/main
  robot/red_light_driver/package.xml
Due: robot

add setup_table script
  station/robot_goal_and_obstacle_finder/setup_table.py
Due: station

remove prints and stuff
  station/robot_goal_and_obstacle_finder/setup_table.py
Due: station

script to check the map state
  station/path_planning/check_map_state.py
  station/path_planning/pathfinding/map.py
  station/path_planning/pathfinding/map_drawer.py
  station/robot_goal_and_obstacle_finder/setup_table.py
Due: station

fix pour stream
  station/path_planning/check_map_state.py
Due: station

les lignes partent des bordures maintenant
  station/robot_goal_and_obstacle_finder/setup_table.py
Due: station

pylint
  robot/red_light_driver/src/main.py
  station/controller/handlers/read_resistance_handler.py
Due: robot, station

if the robot is stuck between two(or more) obstacles, it should drive backwards if the correction_angle is smaller from that direction
  station/path_following/main
  station/path_following/path_following/movement_mode.py
Due: station

fix elif order
  robot/motor_driver/main
Due: robot

path not found solution a tester
  station/path_planning/main
  station/path_planning/pathfinding/breadth_first_search.py
  station/path_planning/pathfinding/config.py
  station/path_planning/pathfinding/map.py
  station/path_planning/pathfinding/pathfinder.py
  station/path_planning/robot_directions.py
Due: station

correction: pixel->cm, rad->deg, add sleep apres avoir envoye le vecteur
  station/path_planning/main
Due: station

Fix grip state in store
  frontend/src/store/mutations.ts
  station/websockets/main
Due: station, frontend

Fix lint
  station/controller/handlers/read_resistance_handler.py
Due: station

change some stuff
  station/controller/handlers/read_letters_handler.py
  station/controller/handlers/release_puck_handler.py
  station/controller/launch/debug.launch
  station/controller/main
  station/websockets/main
  station/world_camera_driver/launch/camera.launch
Due: station

ca marche?
  station/controller/handlers/release_puck_handler.py
  station/controller/main
  station/path_following/main
  station/path_following/path_following/vectorizer.py
  station/world_camera_driver/launch/camera.launch
Due: station

e
  station/path_planning/check_map_state.py
  station/robot_goal_and_obstacle_finder/setup_table.py
Due: station

e
  station/path_planning/check_map_state.py
Due: station

found path in imposssible scenario
  station/controller/main
  station/path_planning/main
Due: station

notre merveilleux ami pylint
  robot/.pylintrc
  robot/red_light_driver/src/led.py
Due: robot

add current step
  station/controller/commands/chain_of_commands_factory.py
  station/controller/commands/command.py
  station/controller/commands/command_builder.py
  station/controller/commands/cycle_steps.py
  station/controller/commands/step.py
  station/controller/commands/tests/test_chain_of_commands_factory.py
  station/controller/main
  station/websockets/main
Due: station

Move websocket mocks
  station/websockets/mock/__init__.py
  station/websockets/mock/mock_letters.py
  station/websockets/mock/mock_puck_colors.py
  station/websockets/mock/mock_puck_is_in_grip.py
  station/websockets/mock/mock_puck_is_not_in_grip.py
  station/websockets/mock/mock_resistance.py
  station/websockets/mock/mock_robot_consumption.py
Due: station
