Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

Fix image size
  frontend/src/components/trajectories/Trajectories.vue
  station/websockets/data/stub_table_image.jpg
Due: station, frontend

rien fonctionne
  debug.rviz
  robot/CMakeLists.txt
  station/CMakeLists.txt
  station/debug_vision_planning/main
  station/path_following/main
  station/path_following/mock_publisher.py
  station/path_following/path_following/destination.py
  station/path_following/path_following/robot_command.py
  station/path_following/path_following/vectorizer.py
  station/path_planning/main
  station/path_planning/mock_publisher.py
  station/path_planning/pathfinding/a_star.py
  station/path_planning/pathfinding/map.py
  station/world_camera_driver/launch/camera.launch
Due: robot, station

panning pour la caméra pour mieux détecter les lettres
  scripts/src/mapping/letter_mapping.py
Due: scripts

ca marche noice2
  station/path_following/main
  station/path_following/path_following/vectorizer.py
Due: station

update correct value
  scripts/src/detection/acuro_markers/image_1.jpeg
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/obstacle_and_robot_finder.py
Due: scripts, station

everything works
  station/path_following/main
  station/path_following/path_following/vectorizer.py
  station/path_planning/main
  station/path_planning/mock_publisher.py
  station/path_planning/pathfinding/breadth_first_search.py
  station/path_planning/pathfinding/map.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/obstacle_and_robot_finder.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/obstacle_detection.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/robot_detection.py
  station/robot_goal_and_obstacle_finder/detection/color_boundaries.py
  station/robot_goal_and_obstacle_finder/detection/dimension_convertor.py
  station/robot_goal_and_obstacle_finder/detection/hard_code_position/hard_code_position.py
  station/robot_goal_and_obstacle_finder/detection/position_calculator.py
  station/robot_goal_and_obstacle_finder/detection/puck_detection.py
  station/robot_goal_and_obstacle_finder/detection/square_detection.py
  station/robot_goal_and_obstacle_finder/detection/utils/stack_images.py
  station/robot_goal_and_obstacle_finder/detection/utils/track_bar_color.py
  station/robot_goal_and_obstacle_finder/main
Due: station

remove cmake symbolic links
  robot/CMakeLists.txt
  station/CMakeLists.txt
Due: robot, station

fix lint
  station/path_following/path_following/vectorizer.py
  station/path_planning/mock_publisher.py
  station/robot_goal_and_obstacle_finder/detection/hard_code_position/hard_code_position.py
  station/robot_goal_and_obstacle_finder/detection/square_detection.py
  station/robot_goal_and_obstacle_finder/detection/utils/stack_images.py
Due: station

re-try workflow after docker hub failure(?)
  station/path_following/path_following/vectorizer.py
Due: station

MoveRobotHandler draft
  station/controller/handlers/move_robot/move_robot_handler.py
Due: station

add read_resistance_handler draft
  station/controller/handlers/move_robot/move_robot_handler.py
  station/controller/handlers/move_robot/move_robot_to_command_panel_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/hard_coded_positions.py
Due: station

add decode resistance and letters to corners handler
  station/controller/handlers/decode_resistance_and_letters_handler.py
  station/controller/handlers/read_letters_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/mapping/__init__.py
  station/controller/mapping/color.py
  station/controller/mapping/command_panel.py
  station/controller/mapping/corner.py
  station/controller/mapping/letter.py
  station/controller/mapping/letter_mapping.py
  station/controller/mapping/map_letters.py
  station/controller/mapping/resistance.py
  station/controller/mapping/resistance_mapper.py
  station/controller/mapping/resistance_mapping.py
Due: station

move robot to next puck handler draft
  station/controller/handlers/move_robot/move_robot_to_next_puck_handler.py
Due: station

update move robot handler draft
  station/controller/handlers/move_robot/move_robot_handler.py
  station/controller/handlers/move_robot/move_robot_to_command_panel_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/handlers/move_robot/move_robot_to_resistance_station_handler.py
Due: station

update move robot to resistance station handler and to next puck handler drafts
  station/controller/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/handlers/move_robot/move_robot_to_resistance_station_handler.py
  station/path_following/main
Due: station

add move robot to next corner handler draft
  station/controller/handlers/move_robot/move_robot_to_next_corner_handler.py
Due: station

ptit refact
  station/controller/commands/command.py
  station/controller/handlers/move_robot/move_robot_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_corner_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/main
Due: station

ready to test pour demain
  station/controller/commands/chain_of_commands_factory.py
  station/controller/commands/command.py
  station/controller/commands/command_builder.py
  station/controller/handlers/grip_puck_handler.py
  station/controller/handlers/move_robot/move_robot_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_corner_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/handlers/release_puck_handler.py
  station/controller/launch/debug.launch
  station/controller/main
  station/controller/mapping/letter_mapping.py
  station/controller/utils.py
  station/path_following/main
  station/path_following/path_following/vectorizer.py
  station/path_planning/main
  station/robot_goal_and_obstacle_finder/main
Due: station

fix
  station/websockets/main
Due: station

vas y mon benji
  station/CMakeLists.txt
  station/controller/handlers/grip_puck_handler.py
  station/controller/handlers/move_robot/move_robot_handler.py
  station/controller/handlers/move_robot/move_robot_to_command_panel_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_corner_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/handlers/move_robot/move_robot_to_resistance_station_handler.py
  station/controller/handlers/release_puck_handler.py
  station/controller/main
  station/path_following/main
Due: station

need fsr
  station/path_planning/main
Due: station

is puck in prehenseur
  station/path_planning/main
Due: station

sauce
  station/controller/handlers/grip_puck_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_corner_handler.py
  station/controller/main
  station/path_following/main
  station/robot_goal_and_obstacle_finder/main
Due: station

print
  station/path_planning/main
Due: station

distance patente
  station/path_following/main
Due: station

hard code position
  scripts/src/detection/hard_code_position/hard_code_position.py
  station/robot_goal_and_obstacle_finder/detection/hard_code_position/hard_code_position.py
Due: scripts, station

Update frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Due: frontend

bijou
  station/controller/handlers/grip_puck_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_corner_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/handlers/release_puck_handler.py
  station/controller/main
  station/path_following/path_following/vectorizer.py
  station/path_planning/main
  station/robot_goal_and_obstacle_finder/main
Due: station

ca marche bien pour ajd
  station/controller/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/handlers/move_robot/move_robot_to_square_center_handler.py
  station/controller/handlers/release_puck_handler.py
  station/controller/main
  station/path_planning/pathfinding/map.py
  station/robot_goal_and_obstacle_finder/main
Due: station

change svg circle to map-marker
  frontend/src/components/trajectories/Trajectories.stories.ts
  frontend/src/components/trajectories/Trajectories.vue
  frontend/src/main.ts
  package-lock.json
  package.json
  yarn.lock
Due: frontend

updte with real position
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

ready for tomorrow
  scripts/src/mapping/letter.py
  station/controller/commands/command_builder.py
  station/controller/handlers/move_robot/move_robot_to_command_panel_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_corner_handler.py
  station/controller/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/handlers/move_robot/move_robot_to_resistance_station_handler.py
  station/controller/handlers/move_robot/move_robot_to_square_center_handler.py
  station/controller/handlers/move_robot/wait_for_robot_arrival_handler.py
  station/controller/handlers/read_letters_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/hard_coded_positions.py
  station/controller/main
  station/controller/mapping/command_panel.py
  station/controller/mapping/resistance_mapper.py
  station/controller/mapping/resistance_mapping.py
  station/path_following/main
  station/path_following/path_following/movement_mode.py
  station/robot_goal_and_obstacle_finder/main
Due: scripts, station

Update for map marker and legend
  frontend/src/components/trajectories/Legend.vue
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

change of coonsumption to consumption
  frontend/src/components/trajectories/Legend.vue
  frontend/src/locales/en.ts
Due: frontend

ajout des dependances dans le package.json
  package-lock.json
Due: none

add setup resistance tessts
  station/controller/__init__.py
  station/controller/handlers/decode_resistance_and_letters_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/mapping/command_panel.py
  station/controller/mapping/map_letters.py
  station/controller/mapping/resistance.py
  station/controller/mapping/tests/__init__.py
  station/controller/mapping/tests/test_resistance.py
Due: station

change square detection
  station/robot_goal_and_obstacle_finder/detection/hard_code_position/square_corner_detection.py
  station/robot_goal_and_obstacle_finder/main
Due: station

add center position
  station/robot_goal_and_obstacle_finder/detection/hard_code_position/square_corner_detection.py
  station/robot_goal_and_obstacle_finder/main
Due: station

help
  station/controller/mapping/resistance.py
  station/controller/mapping/resistance_value.py
Due: station

letter reading works semi
  robot/letter_reading/launch/reading.launch
  robot/letter_reading/src/letter_mapping.py
  robot/letter_reading/src/main
  robot/letter_reading/src/main.py
  robot/motor_driver/launch/motor.launch
  robot/motor_driver/src/.main.swp
  robot/motor_driver/src/main
  scripts/src/mapping/.letter_mapping.py.swp
  scripts/src/mapping/letter_mapping.py
Due: scripts, robot

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
