Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

final touched up
  frontend/src/types/step.ts
Due: frontend

add obstacle_detection
  scripts/src/detection/monde4.jpg
  scripts/src/detection/obstacle_detection.py
Due: scripts

table detection
  scripts/src/detection/PositionCalculator.py
  scripts/src/detection/lower_boundary.py
  scripts/src/detection/position.py
  scripts/src/detection/table_detection.py
  scripts/src/detection/upper_boundary.py
  scripts/tests/detection/test_square_detection.py
  scripts/tests/detection/test_table_detection.py
Due: scripts

fix pylint
  scripts/.pylintrc
  scripts/src/detection/PositionCalculator.py
  scripts/tests/detection/test_table_detection.py
Due: scripts

change radius
  scripts/data/images/monde10.jpg
  scripts/data/images/monde7.jpg
  scripts/data/images/monde8.jpg
  scripts/src/detection/monde2.jpg
  scripts/src/detection/monde4.jpg
  scripts/src/detection/obstacle_detection.py
Due: scripts

fix test upper and lower boundaries
  scripts/tests/detection/test_lower_boundary.py
  scripts/tests/detection/test_upper_boundary.py
Due: scripts

pylint
  scripts/.pylintrc
Due: scripts

is point in table function
  scripts/src/detection/table_detection.py
  scripts/tests/detection/test_table_detection.py
Due: scripts

changement Point to Position
  scripts/tests/detection/test_table_detection.py
Due: scripts

changement Point to Position
  scripts/src/detection/table_detection.py
Due: scripts

fix pylint
  scripts/tests/detection/test_table_detection.py
Due: scripts

Cleanup detection scripts (minor)
  scripts/data/images/camera_monde_qr.jpg
  scripts/src/detection/monde2.jpg
  scripts/src/detection/position_calculator.py
  scripts/src/detection/utils/monde2.jpg
  scripts/src/detection/utils/track_bar_color.py
Due: scripts

Rename main for controller in station
  .github/workflows/robot-ci.yml
  .github/workflows/station-ci.yml
  robot/main/src/main.py
  station/controller/CMakeLists.txt
  station/controller/__init__.py
  station/controller/package.xml
  station/controller/src/__init__.py
  station/controller/src/commands/__init__.py
  station/controller/src/commands/command.py
  station/controller/src/commands/command_factory.py
  station/controller/src/handlers/__init__.py
  station/controller/src/handlers/handler.py
  station/controller/src/handlers/read_image_handler.py
  station/controller/src/main.py
  station/controller/src/readers/__init__.py
  station/controller/src/readers/image_reader.py
  station/controller/tests/__init__.py
  station/controller/tests/commands/__init__.py
  station/controller/tests/commands/test_command.py
  station/controller/tests/commands/test_command_factory.py
  station/controller/tests/handlers/__init__.py
  station/controller/tests/handlers/test_read_image_handler.py
  station/controller/tests/readers/__init__.py
  station/controller/tests/readers/test_image_reader.py
  station/controller/tests/test_sample.py
  station/controller/tests/util/__init__.py
  station/controller/tests/util/command_panel_helper.py
Due: robot, station

Correct package names, change handler for list of handlers in commands
  station/controller/src/commands/command.py
  station/controller/src/commands/command_factory.py
  station/controller/src/handlers/read_image_handler.py
  station/controller/src/readers/image_reader.py
  station/controller/tests/commands/test_command.py
  station/controller/tests/commands/test_command_factory.py
  station/controller/tests/handlers/test_read_image_handler.py
  station/controller/tests/readers/test_image_reader.py
  station/controller/tests/test_sample.py
Due: station

Remove ReadImageHandler from controller
  station/controller/src/handlers/read_image_handler.py
  station/controller/src/main.py
  station/controller/src/readers/__init__.py
  station/controller/src/readers/image_reader.py
  station/controller/tests/readers/__init__.py
  station/controller/tests/readers/test_image_reader.py
  station/controller/tests/util/__init__.py
  station/controller/tests/util/command_panel_helper.py
  station/data/images/command_panel_example_1.png
  station/data/images/command_panel_example_2.png
Due: station

Rework part of command factory
  station/controller/tests/commands/test_command.py
  station/controller/tests/handlers/__init__.py
  station/controller/tests/handlers/test_read_image_handler.py
Due: station

Fix command tests
  station/controller/tests/commands/test_command.py
Due: station

Remove robot main
  robot/data/images/command_panel_example_1.png
  robot/data/images/command_panel_example_2.png
  robot/main/CMakeLists.txt
  robot/main/__init__.py
  robot/main/package.xml
  robot/main/src/__init__.py
  robot/main/src/commands/__init__.py
  robot/main/src/commands/command.py
  robot/main/src/commands/command_factory.py
  robot/main/src/handlers/__init__.py
  robot/main/src/handlers/handler.py
  robot/main/src/handlers/map_letters_handler.py
  robot/main/src/handlers/read_image_handler.py
  robot/main/src/main.py
  robot/main/src/mappers/__init__.py
  robot/main/src/mappers/letter_mapper.py
  robot/main/src/readers/__init__.py
  robot/main/src/readers/image_reader.py
  robot/main/tests/__init__.py
  robot/main/tests/commands/__init__.py
  robot/main/tests/commands/test_command.py
  robot/main/tests/commands/test_command_factory.py
  robot/main/tests/handlers/__init__.py
  robot/main/tests/handlers/test_map_letters_handler.py
  robot/main/tests/handlers/test_read_image_handler.py
  robot/main/tests/mappers/__init__.py
  robot/main/tests/mappers/test_letter_mapper.py
  robot/main/tests/readers/__init__.py
  robot/main/tests/readers/test_image_reader.py
  robot/main/tests/test_sample.py
  robot/main/tests/util/__init__.py
  robot/main/tests/util/command_panel_helper.py
Due: robot

Rename command factory to chain of commands factory
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/tests/commands/test_chain_of_commands_factory.py
Due: station

Enhance tests (WIP)
  station/README.md
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/tests/commands/test_chain_of_commands_factory.py
Due: station

Write tests for chain of commands factory
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command.py
  station/controller/src/commands/command_builder.py
  station/controller/src/main.py
  station/controller/tests/commands/test_chain_of_commands_factory.py
Due: station

Implement logic for chain of commands factory
  station/controller/src/commands/chain_of_commands_factory.py
Due: station

Hide some parts of robot CI
  .github/workflows/robot-ci.yml
Due: none

Add basic test to command builder
  station/controller/src/commands/command_builder.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add tests to CommandBuilder
  station/controller/src/commands/command.py
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/send_ready_state_handler.py
  station/controller/src/handlers/wait_for_ready_state_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Fix pylint
  station/controller/tests/commands/test_command_builder.py
Due: station

Add SendTableImage command
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/send_table_image/__init__.py
  station/controller/src/handlers/send_table_image/capture_table_image_handler.py
  station/controller/src/handlers/send_table_image/send_table_image_handler.py
  station/controller/src/main.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rename steps in factory
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/tests/commands/test_chain_of_commands_factory.py
Due: station

Add GetResistanceStationPosition step
  station/.pylintrc
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/get_resistance_station_position_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add MoveRobot command
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/move_robot/__init__.py
  station/controller/src/handlers/move_robot/calculate_trajectory_handler.py
  station/controller/src/handlers/move_robot/get_robot_position_handler.py
  station/controller/src/handlers/move_robot/send_planned_trajectory_handler.py
  station/controller/src/handlers/move_robot/send_real_trajectory_coordinate_handler.py
  station/controller/src/handlers/move_robot/wait_for_robot_arrival_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add ReadResistance command
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/read_resistance_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add MapResistanceToPuckColors command
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/map_resistance_to_puck_colors/__init__.py
  station/controller/src/handlers/map_resistance_to_puck_colors/map_resistance_to_puck_colors_handler.py
  station/controller/src/handlers/map_resistance_to_puck_colors/send_resistance_and_puck_colors_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

add GetCommandPanelPosition command
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/get_command_panel_position_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Refactor command builder tests
  station/controller/tests/commands/test_command_builder.py
Due: station

Refactor command builder tests
  station/controller/src/handlers/read_letters_handler.py
Due: station

Add ReadLetters command
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/read_letters_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add MapLettersToPuckCorners command
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/map_letters_to_puck_corners/__init__.py
  station/controller/src/handlers/map_letters_to_puck_corners/map_letters_to_puck_corners_handler.py
  station/controller/src/handlers/map_letters_to_puck_corners/send_first_puck_corner_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add GetNextPuckPosition command
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/get_next_puck_position_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
