Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

Fix start_cycle
  station/websockets/src/main.py
Due: station

Setup env vars for station URL
  docker-compose.yml
  frontend/.env
  frontend/Dockerfile
  frontend/README.md
  frontend/src/main.ts
Due: frontend

Fix lint
  station/.pylintrc
  station/websockets/src/main.py
Due: station

Add myself as the maintainer
  station/controller/package.xml
  station/path_planning/__init__.py
  station/path_planning/package.xml
  station/websockets/package.xml
  station/world_camera_driver/__init__.py
  station/world_camera_driver/package.xml
Due: station

Fix usage of StringArray
  station/websockets/CMakeLists.txt
  station/websockets/src/main.py
Due: station

Fix computed values
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

color boundaries in init
  scripts/src/detection/puck_detection.py
  scripts/src/detection/square_detection.py
Due: scripts

Add info to README
  README.md
Due: none

Add test prints
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/store/actions.ts
  frontend/src/store/mutations.ts
  station/websockets/src/main.py
Due: station, frontend

Add i18n
  frontend/package.json
  frontend/src/components/cycles/Chronometer.test.ts
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/Mode.stories.ts
  frontend/src/components/cycles/Mode.test.ts
  frontend/src/components/cycles/Mode.vue
  frontend/src/components/cycles/StartButton.vue
  frontend/src/components/station/PuckInGrip.vue
  frontend/src/i18n.ts
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
  frontend/src/main.ts
  frontend/src/views/Main.vue
  frontend/yarn.lock
Due: frontend

Fix storybook with i18n
  frontend/.storybook/preview.js
Due: frontend

Fix tests
  frontend/src/util/wrapWithVuetifyAndStore.ts
Due: frontend

Add trajectories translations
  frontend/src/components/trajectories/PlannedTrajectory.vue
  frontend/src/components/trajectories/RealTrajectory.vue
  frontend/src/components/trajectories/TrajectoryGraph.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
Due: frontend

Enhance test wrapping
  frontend/src/components/station/Resistance.test.ts
  frontend/src/components/station/Resistance.vue
  frontend/src/components/station/StationInformation.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
  frontend/src/util/wrapWithVuetifyAndStore.ts
Due: frontend

Add translations to grip state
  frontend/src/components/station/GripState.stories.ts
  frontend/src/components/station/GripState.test.ts
  frontend/src/components/station/GripState.vue
  frontend/src/components/station/PuckInGrip.test.ts
  frontend/src/components/station/StationInformation.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
Due: frontend

Add translations to puck deposit
  frontend/src/components/station/PuckDeposit.test.ts
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
Due: frontend

Add first corner translation
  frontend/src/components/station/ControlPanel.test.ts
  frontend/src/components/station/FirstCorner.stories.ts
  frontend/src/components/station/FirstCorner.test.ts
  frontend/src/components/station/FirstCorner.vue
  frontend/src/components/station/StationInformation.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
Due: frontend

Add step list translation
  frontend/src/components/cycles/StepList.test.ts
  frontend/src/components/cycles/StepList.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
Due: frontend

Add translations to start
  frontend/src/components/cycles/Mode.vue
  frontend/src/components/cycles/RobotState.vue
  frontend/src/components/cycles/StartButton.stories.ts
  frontend/src/components/cycles/StartButton.test.ts
  frontend/src/components/cycles/StartButton.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
Due: frontend

Translate modes
  frontend/src/components/cycles/Mode.test.ts
  frontend/src/components/cycles/Mode.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
Due: frontend

Add cycle information translation
  frontend/src/components/cycles/Chronometer.test.ts
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
Due: frontend

Add missing translation
  frontend/src/components/consumptions/ConsumptionInformation.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
Due: frontend

Remove TODO
  frontend/src/main.ts
Due: frontend

add test
  scripts/.DS_Store
  scripts/src/detection/acuro_markers/AcuroMarkers.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/obstacle_manuel_testing.py
  scripts/src/detection/acuro_markers/robot_5x5_one.jpg
  scripts/src/detection/acuro_markers/robot_5x5_three.jpg
  scripts/src/detection/acuro_markers/robot_detection.py
  scripts/src/detection/acuro_markers/robot_detection_testing.py
  scripts/src/detection/qr_code_detection.py
  scripts/src/detection/qr_code_type.py
  scripts/tests/detection/acuro_marker/__init__.py
  scripts/tests/detection/acuro_marker/robot_5x5_five.jpg
  scripts/tests/detection/acuro_marker/robot_5x5_four.jpg
  scripts/tests/detection/acuro_marker/test_acuro_marker.py
  scripts/tests/detection/acuro_marker/test_obstacle_detection.py
  scripts/tests/detection/acuro_marker/test_robot_detection.py
  scripts/tests/detection/test_qr_detection.py
Due: scripts

Delete .DS_Store
  scripts/.DS_Store
Due: scripts

add
  scripts/src/detection/qr_code_detection.py
  scripts/src/detection/qr_code_type.py
  scripts/tests/detection/test_qr_detection.py
Due: scripts

requirement text
  scripts/requirements.txt
Due: scripts

delete useless image
  scripts/data/images/6x6_1000-2.svg
  scripts/data/images/aruco_markers.svg
Due: scripts

pylint?
  scripts/src/detection/acuro_markers/AcuroMarkers.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/robot_detection.py
  scripts/src/detection/qr_code_detection.py
  scripts/src/detection/qr_code_type.py
  scripts/tests/detection/test_qr_detection.py
Due: scripts

9.99
  scripts/tests/detection/acuro_marker/test_robot_detection.py
Due: scripts

wip
  scripts/src/detection/acuro_markers/AcuroMarkers.py
  scripts/tests/detection/acuro_marker/test_acuro_marker.py
  scripts/tests/detection/acuro_marker/test_obstacle_detection.py
  scripts/tests/detection/acuro_marker/test_robot_detection.py
Due: scripts

pylint
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/robot_detection.py
Due: scripts

pylint win ?
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/robot_detection.py
Due: scripts

prolongation
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/robot_detection.py
Due: scripts

Trajectory test for real trajectory
  frontend/public/stub_table_image1.jpg
  frontend/src/components/trajectories/PlannedTrajectory.stories.ts
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

size of path 2
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

simplifing code and add starting point
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

Adding real trajectory path
  frontend/src/components/trajectories/PlannedTrajectory.stories.ts
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

First version of calibration
  scripts/src/calibration/CameraCalibration.py
  scripts/src/calibration/__init__.py
  scripts/src/calibration/camera_calibration_repository.py
  scripts/src/calibration/camera_calibrator.py
Due: scripts

ajout du code a dave sur le git
  scripts/tests/communication/power_consumption.py
  scripts/tests/communication/send_data.txt
Due: scripts
