Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

Rework grip puck handler
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/grip_puck/__init__.py
  station/controller/src/handlers/grip_puck/send_to_frontend_puck_gripped_state_handler.py
  station/controller/src/handlers/grip_puck_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

change height
  frontend/src/components/cycles/CycleInformation.vue
Due: frontend

Rework move robot to next corner handler
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/move_robot/move_robot_to_next_corner_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rework release puck handler
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/release_puck/__init__.py
  station/controller/src/handlers/release_puck/send_to_frontend_puck_released_state_handler.py
  station/controller/src/handlers/release_puck_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rework move robot to square center handler
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/get_next_corner_position_handler.py
  station/controller/src/handlers/move_robot/calculate_trajectory_handler.py
  station/controller/src/handlers/move_robot/get_robot_position_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_square_center_handler.py
  station/controller/src/handlers/move_robot/send_to_frontend_planned_trajectory_handler.py
  station/controller/src/handlers/move_robot/send_to_frontend_real_trajectory_coordinate_handler.py
  station/controller/src/handlers/move_robot/send_to_robot_planned_trajectory_handler.py
  station/controller/src/handlers/send_table_image/__init__.py
  station/controller/src/handlers/send_table_image/capture_table_image_handler.py
  station/controller/src/handlers/send_table_image/send_to_frontend_table_image_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rework end cycle handler
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/end_cycle/__init__.py
  station/controller/src/handlers/end_cycle/send_to_frontend_cycle_ended_handler.py
  station/controller/src/handlers/end_cycle_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

some fixes to ajust for station's resolution
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/StepList.vue
Due: frontend

fix grid
  frontend/src/components/cycles/CycleInformation.vue
Due: frontend

real fix grid
  frontend/src/components/cycles/CycleInformation.vue
Due: frontend

Use handler instead of command to wait for robot arrival
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add is_finished to handlers
  station/controller/src/commands/command.py
  station/controller/src/handlers/end_cycle_handler.py
  station/controller/src/handlers/grip_puck_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_command_panel_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_next_corner_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_resistance_station_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_square_center_handler.py
  station/controller/src/handlers/move_robot/wait_for_robot_arrival_handler.py
  station/controller/src/handlers/read_letters_handler.py
  station/controller/src/handlers/read_resistance_handler.py
  station/controller/src/handlers/release_puck_handler.py
  station/controller/src/handlers/wait_for_frontend_cycle_start_handler.py
  station/controller/src/handlers/wait_for_robot_ready_state_handler.py
  station/controller/tests/commands/test_command.py
Due: station

clean up
  frontend/src/components/cycles/StepList.test.ts
  frontend/src/components/cycles/StepList.vue
  frontend/src/layouts/MainLayout.vue
Due: frontend

fix cycleInformation story
  frontend/src/components/cycles/CycleInformation.stories.ts
Due: frontend

Add new dependencies
  frontend/package.json
  frontend/yarn.lock
Due: frontend

1ere version
  frontend/public/test.jpg
  frontend/src/components/trajectories/PlannedTrajectory.vue
  package-lock.json
  yarn.lock
Due: frontend

testing something
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/CycleInformation.stories.ts
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/StepList.vue
Due: frontend

fonctionnel, mais a retravailler
  frontend/src/components/cycles/Chronometer.vue
Due: frontend

wow fix les methods
  frontend/src/components/cycles/Chronometer.vue
Due: frontend

linter
  frontend/src/components/cycles/Chronometer.vue
Due: frontend

TODOS
  frontend/src/components/cycles/Chronometer.vue
Due: frontend

add startbutton to component
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/StartButton.vue
Due: frontend

Add mutation to start cycle
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/StartButton.vue
  frontend/src/store/actions.ts
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
Due: frontend

Fix action cal
  frontend/src/components/cycles/Chronometer.vue
Due: frontend

Stop chrono when steps are over
  frontend/src/components/cycles/Chronometer.vue
Due: frontend

Use string interpolation
  frontend/src/components/cycles/Chronometer.vue
Due: frontend

detection puck 10000x meilleure
  scripts/src/detection/color_boundaries.py
  scripts/src/detection/lower_boundary.py
  scripts/src/detection/monde3.jpg
  scripts/src/detection/monde4.jpg
  scripts/src/detection/monde5.jpg
  scripts/src/detection/monde6.jpg
  scripts/src/detection/monde7.jpg
  scripts/src/detection/puck_detection.py
  scripts/src/detection/upper_boundary.py
  scripts/src/detection/utils/monde6.jpg
  scripts/src/detection/utils/track_bar_color.py
Due: scripts

wow ca marche
  scripts/.DS_Store
  scripts/data/images/6x6_1000-2.svg
  scripts/data/images/aruco_markers.svg
  scripts/src/.DS_Store
  scripts/src/detection/obstacle/__init__.py
  scripts/src/detection/obstacle/acuro_markers_4x4_1.png
  scripts/src/detection/obstacle/image.jpg
  scripts/src/detection/obstacle/image.svg
  scripts/src/detection/obstacle/image_obstacle.jpg
  scripts/src/detection/obstacle/imsge.png
  scripts/src/detection/obstacle/obstacle_detection.py
  scripts/src/detection/obstacle/test.png
  scripts/src/detection/obstacle/testing.jpg
Due: scripts

more testing + obstacle position
  scripts/src/detection/obstacle/acuro_markers_4x4_1.png
  scripts/src/detection/obstacle/image.jpg
  scripts/src/detection/obstacle/image.svg
  scripts/src/detection/obstacle/imsge.png
  scripts/src/detection/obstacle/obstacle_detection.py
  scripts/src/detection/obstacle/obstacle_manuel_testing.py
  scripts/src/detection/obstacle/obstacle_position.py
  scripts/src/detection/obstacle/test.png
  scripts/src/detection/obstacle/testing_two.jpg
Due: scripts

detect pucks est meilleur que jamais
  scripts/src/detection/color_boundaries.py
  scripts/src/detection/puck_detection.py
Due: scripts

get specific color
  scripts/src/detection/puck_detection.py
Due: scripts

storybook
  frontend/src/components/cycles/Chronometer.stories.ts
  frontend/src/components/cycles/Chronometer.vue
Due: frontend

puck_detection clean up
  scripts/src/detection/mask.png
  scripts/src/detection/original.png
  scripts/src/detection/puck_detection.py
  scripts/src/detection/square_detection.py
Due: scripts

Separate resistance and puck colors websockets messages
  frontend/src/components/cycles/CycleInformation.stories.ts
  frontend/src/components/cycles/StepList.vue
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
Due: frontend

Setup env vars for station URL
  docker-compose.yml
  frontend/.env
  frontend/Dockerfile
  frontend/README.md
  frontend/src/main.ts
Due: frontend

Prepare basic websockets package
  station/websockets/CMakeLists.txt
  station/websockets/__init__.py
  station/websockets/package.xml
  station/websockets/src/__init__.py
  station/websockets/src/main.py
  station/world_camera_driver/package.xml
Due: station

Remove old server
  frontend/.env
  station/websockets/src/main.py
Due: station, frontend

init
  robot/path_planning/src/main.py
Due: robot

Add basic socket emit
  station/requirements.txt
  station/websockets/src/main.py
Due: station

Add basic table image emit
  station/websockets/src/main.py
Due: station

tests
  scripts/src/detection/detect_puck_arg.py
  scripts/src/detection/puck_detection.py
  scripts/tests/detection/test_puck_detection.py
Due: scripts

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
