Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

trying something
  robot/letter_reading/letter_mapping.py
Due: robot

return empty array
  robot/letter_reading/letter_mapping.py
Due: robot

remove useless else
  robot/letter_reading/letter_mapping.py
Due: robot

Fix coverage
  .github/workflows/coverage.yml
Due: none

letter mapping
  robot/letter_reading/letter_mapping.py
  robot/motor_driver/main
Due: robot

ca marche bin moyen
  frontend/src/components/cycles/StartButton.vue
  station/controller/commands/step.py
  station/controller/handlers/end_cycle_handler.py
  station/controller/handlers/read_letters_handler.py
  station/controller/handlers/release_puck_handler.py
  station/controller/launch/debug.launch
  station/controller/main
  station/path_following/main
  station/path_following/path_following/vectorizer.py
  station/path_planning/check_map_state.py
  station/path_planning/main
  station/robot_goal_and_obstacle_finder/main
  station/websockets/main
  station/world_camera_driver/launch/camera.launch
Due: station, frontend

si jamais la detection des couleurs est moyenne essayez ca ca va pt aider
  scripts/src/detection/acuro_markers/frame0.jpg
  station/robot_goal_and_obstacle_finder/detection/puck_detection.py
Due: scripts, station

remove image
  scripts/src/detection/acuro_markers/frame0.jpg
Due: scripts

Force new puck list creation on cycle reset
  frontend/src/store/mutations.ts
Due: frontend

Fix lint (noob)
  frontend/src/store/mutations.ts
Due: frontend

Ma mere disait toujours que mon code pouvait etre encore plus clean
  frontend/src/store/mutations.ts
Due: frontend

wait for robot_consumption topic instead of robot
  station/controller/handlers/wait_for_robot_ready_state_handler.py
Due: station

remove angle_away_from_obstacle until everything else works
  station/controller/handlers/release_puck_handler.py
  station/path_following/main
Due: station

puck dans obstacle, a essayer
  station/path_following/main
  station/path_planning/check_map_state.py
  station/path_planning/main
  station/path_planning/pathfinding/map.py
Due: station

test
  station/controller/handlers/tests/test_angle_functions.py
Due: station

ca devrait marcher?
  station/controller/handlers/release_puck_handler.py
  station/controller/handlers/tests/test_angle_functions.py
Due: station

l'ordre etait inverse xDDDDDDDDDDDDDDDDDDDDDD
  station/controller/handlers/release_puck_handler.py
Due: station

fix lint
  robot/letter_reading/letter_mapping.py
Due: robot

delete fonction a oli
  robot/letter_reading/letter_mapping.py
Due: robot

Bump versions to 4.0.0
  robot/letter_reading/package.xml
  robot/motor_driver/package.xml
  station/controller/package.xml
  station/debug_vision_planning/package.xml
  station/path_following/package.xml
  station/path_planning/package.xml
  station/robot_goal_and_obstacle_finder/package.xml
  station/websockets/package.xml
  station/world_camera_driver/package.xml
Due: robot, station

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
