Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

grrrrrrrrrrrrrr
  station/controller/mapping/color.py
Due: station

Remove useless init files
  station/controller/__init__.py
  station/controller/mapping/tests/__init__.py
Due: station

Fix some websocket handlers
  station/websockets/main
  station/websockets/mock_grip.py
  station/websockets/mock_path.py
  station/websockets/mock_puck_colors.py
  station/websockets/mock_puck_corners.py
  station/websockets/mock_resistance.py
  station/websockets/mock_robot.py
Due: station

Finish fix in websockets
  station/websockets/CMakeLists.txt
  station/websockets/main
  station/websockets/package.xml
Due: station

Remove useless files
  debug.rviz
  package-lock.json
  package.json
  yarn.lock
Due: none

fix import
  station/controller/commands/tests/test_command_builder.py
Due: station

fix import 2
  station/controller/commands/tests/test_command_builder.py
Due: station

test: run pytest from python module
  .github/workflows/scripts-ci.yml
Due: none

lint
  station/controller/commands/tests/test_command_builder.py
Due: station

fix tests
  .github/workflows/scripts-ci.yml
  scripts/src/detection/hard_code_position/__init__.py
  scripts/src/detection/hard_code_position/hard_code_position.py
  scripts/src/detection/hard_code_position/monde10.jpg
  scripts/src/mapping/resistance.py
  scripts/src/mapping/resistance_value.py
  scripts/tests/mapping/test_resistance.py
  station/controller/mapping/resistance.py
  station/controller/mapping/resistance_mapping.py
  station/controller/mapping/tests/test_resistance.py
Due: scripts, station

fix lint
  scripts/.pylintrc
  station/controller/mapping/tests/test_resistance.py
Due: scripts, station

fix chain of commands factory tests
  station/controller/commands/tests/test_chain_of_commands_factory.py
Due: station

pls marche
  station/controller/commands/tests/test_chain_of_commands_factory.py
  station/controller/commands/tests/test_command.py
Due: station

Add default values for unset colors and corners
  frontend/src/types/color.ts
  frontend/src/types/corner.ts
  frontend/src/types/puck.ts
Due: frontend

fix scripts build
  scripts/Dockerfile
  scripts/src/mapping/command_panel.py
  scripts/tests/mapping/test_command_panel.py
Due: scripts

Remove console logs, fix image feed stutter
  frontend/src/components/trajectories/Trajectories.stories.ts
  frontend/src/components/trajectories/Trajectories.test.ts
  frontend/src/components/trajectories/Trajectories.vue
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/tableImage.ts
Due: frontend

Re-add debug.rviz
  debug.rviz
Due: none

Fix build
  frontend/src/factories/StateFactory.ts
Due: frontend

Remove TODO
  frontend/src/store/mutations.ts
Due: frontend

there is a god
  station/controller/commands/tests/test_command.py
  station/controller/commands/tests/test_command_builder.py
Due: station

remove prints and some comments
  robot/letter_reading/letter_mapping.py
  robot/letter_reading/main
  robot/motor_driver/main
Due: robot

remove unecessary publish
  station/path_following/main
Due: station

add puck_representation and set it to circle
  station/path_planning/pathfinding/map.py
Due: station

push right_wall further to the right. bring bot_wall a bit higher
  station/path_planning/pathfinding/map.py
Due: station

add wait for robot ready handler
  station/controller/handlers/read_letters_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/handlers/wait_for_robot_ready_state_handler.py
  station/controller/main
Due: station

add wait for frontend handler
  station/controller/handlers/wait_for_frontend_cycle_start_handler.py
Due: station

add possibility for multiple cycles
  station/controller/main
Due: station

bonne question
  station/controller/handlers/end_cycle_handler.py
Due: station

turn robot away from obstacle if they're close
  station/path_following/main
Due: station

Start cycle in mutation
  frontend/src/store/mutations.ts
Due: frontend

start with frontend
  frontend/yarn.lock
  station/controller/handlers/move_robot/move_robot_to_resistance_station_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/handlers/wait_for_frontend_cycle_start_handler.py
  station/controller/handlers/wait_for_robot_ready_state_handler.py
  station/controller/main
  station/robot_goal_and_obstacle_finder/main
  station/world_camera_driver/launch/camera.launch
Due: station, frontend

Add yarn.lock
  frontend/yarn.lock
Due: frontend

should work lets go
  robot/motor_driver/launch/motor.launch
  robot/red_light_driver/launch/light.launch
  robot/red_light_driver/src/led.py
  robot/red_light_driver/src/main
  robot/red_light_driver/src/main.py
Due: robot

works
  robot/red_light_driver/package.xml
  robot/red_light_driver/src/main
Due: robot

should work with red_light
  station/controller/handlers/end_cycle_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/handlers/wait_for_frontend_cycle_start_handler.py
  station/controller/main
Due: station

progres
  frontend/.env
  frontend/src/store/state.ts
  station/controller/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/handlers/read_resistance_handler.py
  station/controller/main
  station/robot_goal_and_obstacle_finder/main
  station/websockets/main
Due: station, frontend

setup modes
  robot/motor_driver/Modes.py
  robot/motor_driver/main
Due: robot

fix resistance
  station/controller/mapping/resistance.py
  station/controller/mapping/resistance_mapper.py
  station/controller/mapping/resistance_value.py
  station/controller/mapping/tests/test_resistance.py
Due: station

fix for non scientific numbers
  station/controller/mapping/resistance.py
  station/controller/mapping/tests/test_resistance.py
Due: station

add venv to gitignore
  .gitignore
Due: none
