Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

Add path mock to test websockets
  station/websockets/main.py
  station/websockets/mock_path.py
  station/websockets/mock_robot.py
Due: station

Add console logs to test mutations
  frontend/src/store/mutations.ts
Due: frontend

Enhance pose mocks
  station/websockets/mock_path.py
  station/websockets/mock_robot.py
Due: station

calculate angle god
  scripts/data/calibrations/table2.json
  scripts/src/detection/acuro_markers/AcuroMarkers.py
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/acuro_markers/robot.jpg
  scripts/src/detection/acuro_markers/robot2.jpg
  scripts/src/detection/acuro_markers/robot_detection.py
  scripts/src/detection/acuro_markers/robot_obstacles.jpg
  scripts/src/detection/acuro_markers/robot_obstacles2.jpg
  scripts/src/detection/acuro_markers/robot_obstacles3.jpg
  scripts/src/detection/acuro_markers/robot_obstacles4.jpg
  scripts/src/detection/acuro_markers/robot_obstacles5.jpg
  scripts/src/detection/acuro_markers/robot_obstacles6.jpg
  scripts/src/detection/acuro_markers/robot_position.py
  scripts/src/detection/position_calculator.py
  scripts/src/detection/puck_detection.py
  scripts/src/detection/robot_obstacles4.jpg
  scripts/src/detection/utils/robot_obstacles4.jpg
  scripts/src/detection/utils/track_bar_color.py
Due: scripts

Change robot ready state handler to use robot consumption
  frontend/src/store/mutations.ts
  frontend/src/types/robotConsumption.ts
  station/README.md
  station/controller/handlers/wait_for_robot_ready_state_handler.py
  station/controller/mock_ready.py
  station/controller/mock_robot_consumption.py
  station/websockets/main.py
Due: station, frontend

square thingy
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/obstacle_representation.py
Due: scripts

Add algorithm enum
  scripts/src/pathfinding/pathfinding_algorithm_factory.py
  scripts/src/pathfinding/pathfinding_algorithms.py
  scripts/tests/pathfinding/test_pathfinding_algorithm_factory.py
Due: scripts

Use robot_consumption, remove ready topic
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  station/controller/mock_robot_consumption.py
  station/websockets/main.py
Due: station, frontend

Fix pylint
  station/path_planning/main.py
  station/path_planning/pathfinding/breadth_first_search.py
Due: station

Remove localStorage
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

detect robot obstacles and prehenseur
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/position_calculator.py
Due: scripts

Change mapState to better format
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

Properly use computed properties
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

Move everything to computed properties
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

Fix lint
  frontend/src/components/consumptions/BatteryCharge.test.ts
  frontend/src/components/consumptions/BatteryCharge.vue
  frontend/src/components/consumptions/RemainingTime.stories.ts
  frontend/src/components/consumptions/RemainingTime.test.ts
  frontend/src/components/consumptions/RemainingTime.vue
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/Mode.test.ts
  frontend/src/components/cycles/Mode.vue
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

Remove useless explicit type
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

Correct max Y value
  station/websockets/mock_path.py
  station/websockets/mock_robot.py
Due: station

detect obstacles and robot and prehenseur
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/tests/detection/acuro_marker/test_obstacle_detection.py
Due: scripts

cleannn
  scripts/src/detection/acuro_markers/aruco_position.py
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/obstacle_position.py
  scripts/src/detection/acuro_markers/robot_detection.py
  scripts/src/detection/position_calculator.py
  scripts/tests/detection/acuro_marker/test_robot_detection.py
Due: scripts

Fix build
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

Add current planned trajectory
  frontend/src/components/trajectories/Trajectories.stories.ts
  frontend/src/components/trajectories/Trajectories.test.ts
  frontend/src/components/trajectories/Trajectories.vue
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
Due: frontend

Fix build
  frontend/src/factories/StateFactory.ts
Due: frontend

add config file
  scripts/src/path_following/config.py
  scripts/src/path_following/vectorizer.py
Due: scripts

nettoyage pour ros
  scripts/src/mapping/letter_mapping.py
  scripts/src/mapping/map_letters.py
Due: scripts

pamal clean
  scripts/data/images/robot_obstacles.jpg
  scripts/data/images/robot_obstacles2.jpg
  scripts/data/images/robot_obstacles3.jpg
  scripts/data/images/robot_obstacles4.jpg
  scripts/data/images/robot_obstacles5.jpg
  scripts/data/images/robot_photoshop_test.jpg
  scripts/data/images/robot_photoshop_test_2.jpg
  scripts/src/detection/acuro_markers/image_obstacle.jpeg
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/position_calculator.py
  scripts/tests/detection/test_square_detection.py
Due: scripts

first version of letters node
  .gitignore
  robot/CMakeLists.txt
  robot/letter_reading/CMakeLists.txt
  robot/letter_reading/package.xml
  robot/letter_reading/src/capture_image_from_embed_camera.py
  robot/letter_reading/src/letter_mapping.py
  robot/letter_reading/src/main.py
  robot/letter_reading/src/map_letters.py
  robot/letter_reading/src/process_image_to_grayscale.py
Due: robot

sauec qui peut
  robot/CMakeLists.txt
Due: robot

first try
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/robot_detection.py
  scripts/tests/detection/acuro_marker/test_acuro_marker.py
  scripts/tests/detection/acuro_marker/test_obstacle_detection.py
  scripts/tests/detection/acuro_marker/test_robot_detection.py
  scripts/tests/detection/test_position_calculator.py
Due: scripts

first version of red_light node
  robot/red_light_driver/CMakeLists.txt
  robot/red_light_driver/package.xml
  robot/red_light_driver/src/led.py
  robot/red_light_driver/src/main.py
Due: robot

second try
  scripts/.pylintrc
  scripts/src/detection/acuro_markers/AcuroMarkers.py
  scripts/src/detection/acuro_markers/aruco_position.py
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/puck_detection.py
  scripts/tests/detection/acuro_marker/test_obstacle_detection.py
  scripts/tests/detection/acuro_marker/test_robot_detection.py
  scripts/tests/detection/test_position_calculator.py
Due: scripts

last push
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
Due: scripts

fix
  scripts/src/detection/acuro_markers/robot_detection.py
  scripts/tests/detection/acuro_marker/test_robot_detection.py
Due: scripts

fix typo
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
Due: scripts

refactor create objects
  scripts/src/pathfinding/map.py
Due: scripts

setup tests
  scripts/src/pathfinding/map.py
  scripts/tests/pathfinding/test_map.py
Due: scripts

remove read image
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
Due: scripts

Remove temporary state properties
  frontend/src/store/mutations.ts
Due: frontend

add wall tests
  scripts/src/pathfinding/config.py
  scripts/tests/pathfinding/test_map.py
Due: scripts

add remaining tests
  scripts/src/pathfinding/map.py
  scripts/tests/pathfinding/test_map.py
Due: scripts

pylint a ben raison cette fois-ci (ne me quotez pas là-dessus)
  scripts/tests/pathfinding/test_map.py
Due: scripts
