Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

ajout de in1219 dans requirements
  scripts/requirements.txt
Due: scripts

fix import maybe
  scripts/requirements.txt
Due: scripts

square detection plus clean et fonctionne mieux
  scripts/src/detection/square_detection.py
  scripts/src/detection/utils/point.py
Due: scripts

add legend to trajectory
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

Change duplicated code to one funtion
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

Update requirements.txt
  scripts/requirements.txt
Due: scripts

Move socket run
  station/websockets/src/main.py
Due: station

current battery charge
  frontend/src/components/consumptions/BatteryCharge.stories.ts
  frontend/src/components/consumptions/BatteryCharge.vue
  frontend/src/components/consumptions/ConsumptionInformation.vue
  frontend/src/components/consumptions/RemainingTime.vue
  frontend/src/components/cycles/Chronometer.test.ts
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/Mode.stories.ts
  frontend/src/components/cycles/Mode.test.ts
  frontend/src/components/cycles/Mode.vue
  frontend/src/components/cycles/StartButton.vue
  frontend/src/components/station/PuckInGrip.vue
  frontend/src/components/station/StationInformation.vue
  frontend/src/layouts/MainLayout.vue
  frontend/src/store/state.ts
  frontend/src/types/robotConsumption.ts
Due: frontend

time remaining en cours
  frontend/src/components/consumptions/BatteryCharge.vue
  frontend/src/components/consumptions/RemainingTime.vue
Due: frontend

Adding destination point
  frontend/src/components/trajectories/PlannedTrajectory.stories.ts
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

delete all colors because people
  frontend/src/components/consumptions/BatteryCharge.vue
  frontend/src/components/consumptions/RemainingTime.stories.ts
  frontend/src/components/consumptions/RemainingTime.vue
Due: frontend

tests
  frontend/src/components/consumptions/BatteryCharge.test.ts
  frontend/src/components/consumptions/BatteryCharge.vue
  frontend/src/components/consumptions/RemainingTime.test.ts
  frontend/src/components/consumptions/RemainingTime.vue
Due: frontend

tests
  frontend/src/components/consumptions/BatteryCharge.test.ts
  frontend/src/components/consumptions/BatteryCharge.vue
  frontend/src/components/consumptions/RemainingTime.test.ts
  frontend/src/components/consumptions/RemainingTime.vue
  frontend/src/components/station/Resistance.test.ts
  frontend/src/util/wrapWithVuetifyAndStore.ts
Due: frontend

fix styling
  frontend/src/components/consumptions/BatteryCharge.vue
Due: frontend

Update dependencies
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Somme changes
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

some changes
  package-lock.json
Due: none

Enhance code style
  scripts/src/communication/__init__.py
  scripts/src/communication/power_consumption.py
  scripts/src/communication/send_data.txt
  scripts/tests/communication/power_consumption.py
Due: scripts

Add explanation for eslint to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

save commit
  station/path_planning/src/main.py
  station/path_planning/src/mock_publisher.py
  station/path_planning/src/pathfinding/breadth_first_search.py
  station/path_planning/src/pathfinding/map.py
  station/path_planning/src/pathfinding/node.py
  station/path_planning/src/pathfinding/pathfinding_algorithm_factory.py
  station/path_planning/src/pathfinding/show_path.py
Due: station

corrections
  scripts/src/communication/send_data.txt
  scripts/src/detection/led.py
  scripts/src/servo/color.py
  scripts/src/servo/color_boundaries.py
  scripts/src/servo/follow_color.py
  scripts/src/servo/lower_boundary.py
  scripts/src/servo/upper_boundary.py
Due: scripts

corrections
  scripts/src/detection/led.py
  scripts/src/red_led/__init__.py
  scripts/src/red_led/led.py
Due: scripts

fix des fichiers pour les imports
  scripts/src/servo/color.py
  scripts/src/servo/color_boundaries.py
  scripts/src/servo/lower_boundary.py
  scripts/src/servo/upper_boundary.py
Due: scripts

fix pylint
  scripts/src/red_led/led.py
  scripts/src/servo/follow_color.py
Due: scripts

Link station and frontend
  docker-compose.yml
  frontend/.env
  station/Dockerfile
  station/websockets/src/main.py
Due: station, frontend

Add mock publisher and some logic
  frontend/src/store/mutations.ts
  station/websockets/src/main.py
  station/websockets/src/mock_publisher.py
Due: station, frontend

Update follow_color.py
  scripts/src/servo/follow_color.py
Due: scripts

Alright folks, websockets package is prepared.
  frontend/src/store/mutations.ts
  station/path_planning/src/mock_publisher.py
  station/websockets/src/main.py
  station/websockets/src/mock_publisher.py
Due: station, frontend

Remove TODO
  station/websockets/src/main.py
Due: station

Only trigger coverage workflow after CI checks
  .github/workflows/coverage.yml
Due: none

Add code to produce new image from calibration
  scripts/src/calibration/camera_calibrator.py
Due: scripts

CR fixes
  station/websockets/package.xml
  station/websockets/src/main.py
Due: station

Remove TODOs
  frontend/src/store/actions.ts
Due: frontend

refactor
  scripts/src/detection/square_detection.py
Due: scripts

remove image from init
  scripts/src/detection/square_detection.py
Due: scripts

ready to merge
  scripts/src/detection/hard_code_position/__init__.py
  scripts/src/detection/hard_code_position/hard_code_position.py
  scripts/src/detection/hard_code_position/monde10.jpg
  scripts/src/detection/square_detection.py
Due: scripts
