Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

changement des pins avec ce qu'il y a sur le pcb
  scripts/src/mapping/letter_mapping.py
  scripts/src/servo/follow_color.py
Due: scripts

remove pathfinder and fix delete_object(pixel)
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/show_path.py
  scripts/src/pathfinding/trajectory_creation_sample_1.py
  scripts/src/pathfinding/trajectory_creation_sample_2.py
  scripts/tests/pathfinding/test_pathfinder.py
Due: scripts

add a_star changes
  scripts/src/pathfinding/a_star.py
  scripts/src/pathfinding/pathfinder.py
Due: scripts

renaming a function: change 'object' to 'item'
  scripts/src/pathfinding/map.py
Due: scripts

delete jupyter notebooks
  scripts/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  scripts/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
  scripts/Untitled.ipynb
  scripts/Untitled1.ipynb
Due: scripts

cleanup
  scripts/data/images/new_monde2.jpg
  scripts/data/images/new_monde3.jpg
  scripts/data/images/new_monde4.jpg
  scripts/data/images/new_monde5.jpg
  scripts/data/images/new_monde6.jpg
  scripts/data/images/new_monde7.jpg
  scripts/src/.DS_Store
  scripts/src/detection/acuro_markers/new_picture_1.jpeg
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/robot_detection.py
  scripts/src/detection/acuro_markers/robot_obstacles6.jpg
  scripts/src/detection/acuro_markers/take_picture.py
  scripts/src/detection/frame133.jpg
  scripts/src/detection/position_calculator.py
  scripts/src/detection/puck_detection.py
Due: scripts

remove useless x, y
  scripts/src/detection/puck_detection.py
Due: scripts

remove show image
  scripts/src/detection/puck_detection.py
Due: scripts

Fix structure of ROS packages on station
  robot/CMakeLists.txt
  station/CMakeLists.txt
  station/controller/CMakeLists.txt
  station/debug_vision_planning/CMakeLists.txt
  station/debug_vision_planning/main
  station/debug_vision_planning/package.xml
  station/robot_goal_and_obstacle_finder/CMakeLists.txt
  station/robot_goal_and_obstacle_finder/detection/__init__.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/AcuroMarkers.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/__init__.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/aruco_position.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/marker_position.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/obstacle_and_robot_finder.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/obstacle_detection.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/robot_detection.py
  station/robot_goal_and_obstacle_finder/detection/color_boundaries.py
  station/robot_goal_and_obstacle_finder/detection/hard_code_position/__init__.py
  station/robot_goal_and_obstacle_finder/detection/hard_code_position/hard_code_position.py
  station/robot_goal_and_obstacle_finder/detection/lower_boundary.py
  station/robot_goal_and_obstacle_finder/detection/object_detection.py
  station/robot_goal_and_obstacle_finder/detection/position.py
  station/robot_goal_and_obstacle_finder/detection/position_calculator.py
  station/robot_goal_and_obstacle_finder/detection/puck_detection.py
  station/robot_goal_and_obstacle_finder/detection/square_detection.py
  station/robot_goal_and_obstacle_finder/detection/table_detection.py
  station/robot_goal_and_obstacle_finder/detection/upper_boundary.py
  station/robot_goal_and_obstacle_finder/detection/utils/__init__.py
  station/robot_goal_and_obstacle_finder/detection/utils/stack_images.py
  station/robot_goal_and_obstacle_finder/detection/utils/track_bar_color.py
  station/robot_goal_and_obstacle_finder/main
  station/robot_goal_and_obstacle_finder/package.xml
  station/robot_goal_and_obstacle_finder/src/detection/hard_code_position/__init__.py
Due: robot, station

Fix structure of ROS packages on robot
  .github/workflows/coverage.yml
  .github/workflows/robot-ci.yml
  robot/letter_reading/CMakeLists.txt
  robot/letter_reading/capture_image_from_embed_camera.py
  robot/letter_reading/letter_mapping.py
  robot/letter_reading/main
  robot/letter_reading/map_letters.py
  robot/letter_reading/package.xml
  robot/letter_reading/process_image_to_grayscale.py
  robot/motor_driver/CMakeLists.txt
  robot/motor_driver/main
  robot/motor_driver/package.xml
  robot/motor_driver/src/.main.swp
  robot/pytest.ini
  station/README.md
  station/controller/main
  station/websockets/main
Due: robot, station

Fix station build
  .github/workflows/robot-ci.yml
  .github/workflows/station-ci.yml
  station/controller/CMakeLists.txt
  station/debug_vision_planning/CMakeLists.txt
Due: station

Fix station pylint
  station/.pylintrc
  station/path_following/mock_publisher.py
  station/path_following/path_following/vectorizer.py
  station/path_planning/pathfinding/a_star.py
  station/path_planning/pathfinding/breadth_first_search.py
  station/robot_goal_and_obstacle_finder/detection/hard_code_position/hard_code_position.py
  station/robot_goal_and_obstacle_finder/detection/square_detection.py
  station/robot_goal_and_obstacle_finder/detection/utils/stack_images.py
Due: station

Fix robot pylint
  robot/.pylintrc
  robot/letter_reading/capture_image_from_embed_camera.py
  robot/letter_reading/letter_mapping.py
  robot/letter_reading/main
  robot/letter_reading/map_letters.py
  robot/letter_reading/process_image_to_grayscale.py
Due: robot

Remove bad license
  station/robot_goal_and_obstacle_finder/package.xml
Due: station

Add stupid test
  robot/letter_reading/conftest.py
  robot/letter_reading/tests/test_map_letters.py
Due: robot

Re-dumb test
  robot/letter_reading/tests/test_map_letters.py
Due: robot

Remove unused imports
  station/robot_goal_and_obstacle_finder/main
Due: station

Remove CI triggers
  .github/workflows/robot-ci.yml
  .github/workflows/station-ci.yml
Due: none

Add test method to websocket for image handling
  station/websockets/main.py
Due: station

Work on mock, still needs some love
  station/requirements.txt
  station/websockets/data/stub_table_image.jpg
  station/websockets/mock_world_camera_driver.py
Due: station

fix tests?
  scripts/src/pathfinding/breadth_first_search.py
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/pathfinding_algorithm_factory.py
  scripts/src/pathfinding/pathfinding_algorithms.py
  scripts/tests/pathfinding/test_a_star.py
  scripts/tests/pathfinding/test_breadth_first_search.py
  scripts/tests/pathfinding/test_map.py
  scripts/tests/pathfinding/test_pathfinding_algorithm_factory.py
Due: scripts

fix tests
  scripts/tests/pathfinding/test_map.py
Due: scripts

works now
  station/path_following/path_following/vectorizer.py
Due: station

should work
  station/.pylintrc
Due: station

jpense avoir une bonne idee + set up la liste des tests a faire passer
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

refactored and tested get_path_from_robot. only path_to_vectors left
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

added missing tests and related tweakings
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

update cm_to_pixel value
  scripts/src/path_following/vectorizer.py
Due: scripts

Work on base64 encode
  frontend/src/types/message.ts
  station/websockets/main.py
  station/websockets/mock_world_camera_driver.py
Due: station, frontend

if Destination.PUCK, path_following cuts the path to 112 pixels away from the goal
  scripts/src/path_following/destination.py
  scripts/src/path_following/robot_command.py
  scripts/src/path_following/vectorizer.py
  scripts/src/pathfinding/a_star.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

Image sent properly via websockets
  station/websockets/main.py
Due: station

Wait a second between each image sent
  station/websockets/main.py
Due: station

add tests
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

oops
  scripts/src/pathfinding/a_star.py
Due: scripts

correct angle_correction
  scripts/src/path_following/movement_mode.py
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

correct minimize_vectors
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

add angle correction branches
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

add missing tests + fix final angle correction
  scripts/src/path_following/grip_functions.py
  scripts/src/path_following/robot_command.py
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

add reminder to add an angle threshold
  scripts/src/path_following/vectorizer.py
Due: scripts

Update dependencies
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
