Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

Add GetNextCornerPosition command
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/get_next_corner_position_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add GetStartSquareCenterPosition command
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/get_start_square_center_position_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add GripPuck and ReleasePuck commands
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/grip_puck/__init__.py
  station/controller/src/handlers/grip_puck/grip_puck_handler.py
  station/controller/src/handlers/grip_puck/send_puck_gripped_state_handler.py
  station/controller/src/handlers/release_puck/__init__.py
  station/controller/src/handlers/release_puck/release_puck_handler.py
  station/controller/src/handlers/release_puck/send_puck_released_state_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add EndCycle command
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/end_cycle/__init__.py
  station/controller/src/handlers/end_cycle/send_cycle_ended_step_handler.py
  station/controller/src/handlers/end_cycle/turn_on_red_light_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Can now send steps to factory
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/cycle_steps.py
  station/controller/tests/commands/test_chain_of_commands_factory.py
Due: station

Fix lint
  .github/workflows/station-ci.yml
  station/.pylintrc
  station/README.md
  station/controller/tests/commands/test_chain_of_commands_factory.py
Due: station

Change step names for lint
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/tests/commands/test_chain_of_commands_factory.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Delete .DS_Store
  .DS_Store
Due: none

Update .gitignore
  .gitignore
Due: none

Type steps in chain of commands factory
  station/controller/src/commands/chain_of_commands_factory.py
Due: station

Rename WaitForReadyState to WaitForRobotReadyState
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/wait_for_robot_ready_state_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rename command to SendToFrontendReadyState
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/send_to_frontend_ready_state_handler.py
  station/controller/src/handlers/wait_for_robot_ready_state_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add missing WaitForFrontendCycleStart command
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/wait_for_frontend_cycle_start_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rename SendToFrontendTableImageHandler
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/send_table_image/send_to_frontend_table_image_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Separate SendPlannedTrajectory handlers
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/move_robot/send_to_frontend_planned_trajectory_handler.py
  station/controller/src/handlers/move_robot/send_to_robot_planned_trajectory_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rename SendToFrontendRealTrajectoryCoordinateHandler
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/move_robot/send_to_frontend_real_trajectory_coordinate_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rename SendToFrontendResistanceAndPuckColors handler
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/map_resistance_to_puck_colors/send_resistance_and_puck_colors_handler.py
  station/controller/src/handlers/map_resistance_to_puck_colors/send_to_frontend_resistance_and_puck_colors_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rename SendToFrontendFirstPuckCornerHandler
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/map_letters_to_puck_corners/send_to_frontend_first_puck_corner_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rename SendToFrontendPuckGrippedStateHandler
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/grip_puck/send_to_frontend_puck_gripped_state_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rename SendToFrontendPuckReleasedStateHandler
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/release_puck/send_to_frontend_puck_released_state_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rename last handler
  station/controller/src/commands/command_builder.py
  station/controller/src/handlers/end_cycle/send_to_frontend_cycle_ended_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Add CommandBuilder.some_steps
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command_builder.py
  station/controller/tests/commands/test_chain_of_commands_factory.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Try coverage on scripts
  .github/workflows/coverage.yml
  .github/workflows/scripts-ci.yml
  codecov.yml
  scripts/Dockerfile
  scripts/requirements.txt
Due: scripts

Try report xml
  .github/workflows/coverage.yml
Due: none

Try something else
  .github/workflows/coverage.yml
Due: none

Add docker run scripts
  .github/workflows/coverage.yml
Due: none

Try to move coverage to host
  .github/workflows/coverage.yml
Due: none

fix yml
  .github/workflows/coverage.yml
Due: none

Get container ID
  .github/workflows/coverage.yml
Due: none

Fix symbol
  .github/workflows/coverage.yml
Due: none

Try volume
  .github/workflows/coverage.yml
  scripts/Dockerfile
Due: scripts

Retry some things.
  .github/workflows/coverage.yml
  scripts/Dockerfile
Due: scripts

oof
  .github/workflows/coverage.yml
Due: none

I'll do it again
  .github/workflows/coverage.yml
  scripts/Dockerfile
Due: scripts

How bout this
  .github/workflows/coverage.yml
Due: none

Turn coderage CI up on its head
  .github/workflows/coverage.yml
Due: none

Let's do it again
  .github/workflows/coverage.yml
Due: none

Separate scripts upload
  .github/workflows/coverage.yml
Due: none

lolololololol
  .github/workflows/coverage.yml
Due: none

And now?
  .github/workflows/coverage.yml
Due: none

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
