Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

init
  scripts/src/detection/color_detection.py
  scripts/src/detection/puck_detection.py
Due: scripts

utils images and boundaries
  scripts/src/detection/images/monde.jpg
  scripts/src/detection/images/monde10.jpg
  scripts/src/detection/images/monde11.jpg
  scripts/src/detection/images/monde12.jpg
  scripts/src/detection/images/monde13.jpg
  scripts/src/detection/images/monde14.jpg
  scripts/src/detection/images/monde2.jpg
  scripts/src/detection/images/monde3.jpg
  scripts/src/detection/images/monde4.jpg
  scripts/src/detection/images/monde5.jpg
  scripts/src/detection/images/monde6.jpg
  scripts/src/detection/images/monde7.jpg
  scripts/src/detection/images/monde8.jpg
  scripts/src/detection/images/monde9.jpg
  scripts/src/detection/lower_boundary.py
  scripts/src/detection/puck_detection.py
  scripts/src/detection/upper_boundary.py
  scripts/src/detection/utils/detect_puck_arg.py
  scripts/src/detection/utils/stack_images.py
  scripts/src/detection/utils/track_bar_color.py
Due: scripts

test
  scripts/src/detection/puck_detection.py
  scripts/src/detection/utils/detect_puck_arg.py
Due: scripts

tests works
  scripts/src/detection/detect_puck_arg.py
  scripts/src/detection/puck_detection.py
  scripts/tests/detection/__init__.py
  scripts/tests/detection/monde.jpg
  scripts/tests/detection/test_lower_boundary.py
  scripts/tests/detection/test_puck_detection.py
  scripts/tests/detection/test_upper_boundary.py
Due: scripts

pylint
  scripts/src/detection/detect_puck_arg.py
  scripts/src/detection/puck_detection.py
  scripts/src/detection/upper_boundary.py
Due: scripts

wooh les tests roulent
  scripts/creation/BFS.py
  scripts/creation/Map.py
  scripts/creation/MapDrawer.py
  scripts/creation/Node.py
  scripts/creation/PathfindingAlgorithmFactory.py
  scripts/creation/ex2.py
  scripts/creation/example.py
  scripts/tests/creation/__init__.py
  scripts/tests/creation/test_BFS.py
  scripts/tests/creation/test_Map.py
  scripts/tests/creation/test_bfs.py
  scripts/tests/creation/test_map.py
  scripts/tests/creation/test_pathfinder.py
Due: scripts

Add test_map setup
  scripts/creation/Map.py
  scripts/creation/params.py
  scripts/tests/creation/test_map.py
Due: scripts

Add create nodes + connect nodes tests
  scripts/tests/creation/test_map.py
Due: scripts

Add rest of map tests
  scripts/creation/Map.py
  scripts/tests/creation/test_map.py
Due: scripts

Add pathfinder tests
  scripts/creation/Pathfinder.py
  scripts/tests/creation/test_pathfinder.py
Due: scripts

Add rotation helper tests
  scripts/creation/RotationHelper.py
  scripts/tests/creation/test_rotation_helper.py
Due: scripts

Add pathfinding algorithm factory tests
  scripts/creation/Map.py
  scripts/creation/PathfindingAlgorithmFactory.py
  scripts/tests/creation/test_pathfinding_algorithm_factory.py
Due: scripts

Rename bfs to full name. Refactor loose strings into an Enum.
  scripts/creation/BreadthFirstSearch.py
  scripts/creation/Direction.py
  scripts/creation/Map.py
  scripts/creation/PathfindingAlgorithmFactory.py
  scripts/creation/ex2.py
  scripts/creation/example.py
  scripts/creation/params.py
  scripts/tests/creation/test_breadth_first_search.py
  scripts/tests/creation/test_pathfinding_algorithm_factory.py
Due: scripts

move pictures to scripts/data/images
  scripts/creation/ex2.py
  scripts/creation/example.py
  scripts/data/trajectory_example_1.jpg
  scripts/data/trajectory_example_2.jpg
  scripts/data/trajectory_example_3.jpg
Due: scripts

rename sample scripts
  scripts/creation/trajectory_creation_sample_1.py
  scripts/creation/trajectory_creation_sample_2.py
Due: scripts

Fix scripts?
  scripts/creation/trajectory_creation_sample_1.py
  scripts/creation/trajectory_creation_sample_2.py
Due: scripts

Fix oublie + utilise une fonction au lieu de répéter la conversion de pixel à x,y partout
  scripts/creation/Map.py
  scripts/creation/trajectory_creation_sample_1.py
  scripts/creation/trajectory_creation_sample_2.py
Due: scripts

some linting stuff
  scripts/creation/BreadthFirstSearch.py
  scripts/creation/Direction.py
  scripts/creation/breadth_first_search.py
  scripts/creation/direction.py
  scripts/creation/map.py
  scripts/creation/map_drawer.py
  scripts/creation/node.py
  scripts/creation/path_not_found_exception.py
  scripts/creation/pathfinder.py
  scripts/creation/pathfinding_algorithm.py
  scripts/creation/pathfinding_algorithm_factory.py
  scripts/creation/rotation_helper.py
  scripts/creation/tile_role.py
  scripts/creation/trajectory_creation_sample_1.py
  scripts/creation/trajectory_creation_sample_2.py
  scripts/tests/creation/test_breadth_first_search.py
  scripts/tests/creation/test_map.py
  scripts/tests/creation/test_pathfinder.py
  scripts/tests/creation/test_pathfinding_algorithm_factory.py
  scripts/tests/creation/test_rotation_helper.py
Due: scripts

Oublie + fix test associé
  scripts/creation/pathfinder.py
  scripts/creation/trajectory_creation_sample_1.py
  scripts/data/images/trajectory_example_1.jpg
  scripts/data/images/trajectory_example_2.jpg
  scripts/data/images/trajectory_example_3.jpg
  scripts/tests/creation/test_pathfinder.py
Due: scripts

Use given/when/then notation
  scripts/tests/creation/test_breadth_first_search.py
  scripts/tests/creation/test_map.py
  scripts/tests/creation/test_pathfinder.py
  scripts/tests/creation/test_pathfinding_algorithm_factory.py
  scripts/tests/creation/test_rotation_helper.py
Due: scripts

refactor
  scripts/tests/detection/test_lower_boundary.py
  scripts/tests/detection/test_puck_detection.py
  scripts/tests/detection/test_upper_boundary.py
Due: scripts

change
  .gitignore
  scripts/src/detection/lower_boundary.py
Due: scripts

Fix scripts Dockerfile (sorry)
  scripts/Dockerfile
Due: scripts

Add dependencies to robot and station READMEs
  robot/README.md
  station/README.md
Due: robot, station

Add ROS to dependencies in READMEs
  robot/README.md
  station/README.md
Due: robot, station

viewport installed for station resolution on storybook
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/components/station/Resistance.stories.ts
  frontend/yarn.lock
Due: frontend

Remove storybook preview parameters (hotfix center)
  frontend/.storybook/preview.js
Due: frontend

fix w Fabien for storybook
  frontend/.storybook/preview.js
Due: frontend

_draw_line + _draw_rectangle refactor
  scripts/creation/map_drawer.py
Due: scripts

lint
  scripts/creation/breadth_first_search.py
  scripts/creation/direction.py
  scripts/creation/map.py
  scripts/creation/map_drawer.py
  scripts/creation/node.py
  scripts/creation/path_not_found_exception.py
  scripts/creation/pathfinder.py
  scripts/creation/pathfinding_algorithm.py
  scripts/creation/pathfinding_algorithm_factory.py
  scripts/creation/rotation_helper.py
  scripts/creation/tile_role.py
  scripts/creation/trajectory_creation.py
  scripts/creation/trajectory_creation_sample_1.py
  scripts/creation/trajectory_creation_sample_2.py
  scripts/tests/creation/test_pathfinder.py
Due: scripts

lint les tests un peu
  scripts/tests/creation/test_breadth_first_search.py
  scripts/tests/creation/test_map.py
  scripts/tests/creation/test_pathfinder.py
Due: scripts

Add quick way to map les résistances aux couleurs
  scripts/src/mapping/resistance_mapping.py
Due: scripts

Fix path in robot
  .github/workflows/robot-ci.yml
  robot/Dockerfile
  robot/README.md
  robot/__init__.py
  robot/main/src/commands/command_factory.py
  robot/main/src/handlers/map_letters_handler.py
  robot/main/src/handlers/read_image_handler.py
  robot/main/src/main.py
  robot/main/tests/commands/test_command.py
  robot/main/tests/commands/test_command_factory.py
  robot/main/tests/handlers/test_map_letters_handler.py
  robot/main/tests/handlers/test_read_image_handler.py
  robot/main/tests/mappers/test_letter_mapper.py
  robot/main/tests/readers/test_image_reader.py
  robot/main/tests/test_sample.py
  robot/main/tests/util/command_panel_helper.py
Due: robot

Move classes
  scripts/src/mapping/resistance.py
  scripts/src/mapping/resistance_mapper.py
  scripts/src/mapping/resistance_mapping.py
Due: scripts

Fix path in station
  .github/workflows/station-ci.yml
  station/Dockerfile
  station/__init__.py
  station/main/src/commands/command_factory.py
  station/main/src/handlers/read_image_handler.py
  station/main/src/main.py
  station/main/tests/commands/test_command.py
  station/main/tests/commands/test_command_factory.py
  station/main/tests/handlers/test_read_image_handler.py
  station/main/tests/readers/test_image_reader.py
  station/main/tests/test_sample.py
  station/main/tests/util/command_panel_helper.py
Due: station

Fix usage of docker-compose in README
  station/README.md
Due: station

Initialize script for area detection
  scripts/src/detection/start_area_detection.py
Due: scripts

make it workkkkkk storybook for resistance component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/station/Resistance.stories.ts
  frontend/src/components/station/Resistance.vue
  frontend/yarn.lock
Due: frontend
