Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

Specify file
  .github/workflows/coverage.yml
Due: none

oops
  .github/workflows/coverage.yml
Due: none

poajfpoafpoaqmjgpoawiognwaojf
  .github/workflows/coverage.yml
Due: none

Remove file specification
  .github/workflows/coverage.yml
Due: none

And now??
  .github/workflows/coverage.yml
  scripts/pytest.ini
  scripts/requirements.txt
Due: scripts

Add pytest-cov requirement
  scripts/requirements.txt
Due: scripts

Setup codecov env
  .github/workflows/coverage.yml
Due: none

This should work
  .github/workflows/coverage.yml
Due: none

This will work.
  .github/workflows/coverage.yml
Due: none

This shall work
  .github/workflows/coverage.yml
Due: none

This might work
  .github/workflows/coverage.yml
Due: none

woidjoaWIBFOIAEF
  .github/workflows/coverage.yml
Due: none

And now??????
  .github/workflows/coverage.yml
  scripts/.pylintrc
Due: scripts

Add coverage to frontend
  .github/workflows/coverage.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/station-ci.yml
  scripts/Dockerfile
  station/pytest.ini
  station/requirements.txt
Due: scripts, station

Correct coverage and add frontend
  .github/workflows/coverage.yml
Due: none

Add badge
  README.md
Due: none

Fix badge
  README.md
Due: none

Remove flags from coverage
  .github/workflows/coverage.yml
  codecov.yml
Due: none

Remove scripts/tests directory from coverage
  scripts/.coveragerc
Due: scripts

first try, difficulty to make more clean
  frontend/package.json
  frontend/src/components/station/PuckDeposited.stories.ts
  frontend/src/components/station/PuckDeposited.vue
  frontend/src/components/station/PuckInGrip.test.ts
  frontend/src/components/station/PyckDeposited.vue
  frontend/src/components/station/StationInformation.vue
  frontend/src/store/state.ts
  frontend/src/types/step.ts
  frontend/yarn.lock
Due: frontend

debut fonctionnel
  .gitignore
  robot/Dockerfile
  station/CMakeLists.txt
  station/Dockerfile
  station/robot_goal_and_obstacle_finder/CMakeLists.txt
  station/robot_goal_and_obstacle_finder/package.xml
  station/robot_goal_and_obstacle_finder/src/detection/PositionCalculator.py
  station/robot_goal_and_obstacle_finder/src/detection/__init__.py
  station/robot_goal_and_obstacle_finder/src/detection/color.py
  station/robot_goal_and_obstacle_finder/src/detection/detect_puck_arg.py
  station/robot_goal_and_obstacle_finder/src/detection/lower_boundary.py
  station/robot_goal_and_obstacle_finder/src/detection/object_detection.py
  station/robot_goal_and_obstacle_finder/src/detection/position.py
  station/robot_goal_and_obstacle_finder/src/detection/puck_detection.py
  station/robot_goal_and_obstacle_finder/src/detection/qr_code_detection.py
  station/robot_goal_and_obstacle_finder/src/detection/qr_code_type.py
  station/robot_goal_and_obstacle_finder/src/detection/square_detection.py
  station/robot_goal_and_obstacle_finder/src/detection/table_detection.py
  station/robot_goal_and_obstacle_finder/src/detection/upper_boundary.py
  station/robot_goal_and_obstacle_finder/src/detection/utils/__init__.py
  station/robot_goal_and_obstacle_finder/src/detection/utils/point.py
  station/robot_goal_and_obstacle_finder/src/detection/utils/stack_images.py
  station/robot_goal_and_obstacle_finder/src/detection/utils/track_bar_color.py
  station/robot_goal_and_obstacle_finder/src/main.py
  station/robot_goal_and_obstacle_finder/tests/__init__.py
  station/robot_goal_and_obstacle_finder/tests/detection/__init__.py
  station/robot_goal_and_obstacle_finder/tests/detection/camera_monde_qr.jpg
  station/robot_goal_and_obstacle_finder/tests/detection/image_without_square.jpg
  station/robot_goal_and_obstacle_finder/tests/detection/monde3.jpg
  station/robot_goal_and_obstacle_finder/tests/detection/test_lower_boundary.py
  station/robot_goal_and_obstacle_finder/tests/detection/test_puck_detection.py
  station/robot_goal_and_obstacle_finder/tests/detection/test_qr_detection.py
  station/robot_goal_and_obstacle_finder/tests/detection/test_square_detection.py
  station/robot_goal_and_obstacle_finder/tests/detection/test_table_detection.py
  station/robot_goal_and_obstacle_finder/tests/detection/test_upper_boundary.py
Due: robot, station

clean up
  frontend/src/components/station/PuckDeposited.vue
Due: frontend

fix styling
  frontend/src/components/station/PuckDeposited.vue
Due: frontend

tests
  frontend/src/components/station/PuckDeposited.test.ts
  frontend/src/components/station/PuckDeposited.vue
  frontend/src/store/state.ts
Due: frontend

test de puck detection
  scripts/src/detection/mask.png
  scripts/src/detection/object_detection.py
  scripts/src/detection/original.png
  scripts/src/detection/puck_detection.py
Due: scripts

Pr fixes
  frontend/src/components/station/PuckDeposit.stories.ts
  frontend/src/components/station/PuckDeposit.test.ts
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/components/station/StationInformation.vue
  frontend/src/types/step.ts
Due: frontend

cleaned some css, starting step
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/Step.vue
  frontend/src/components/cycles/StepList.vue
  frontend/src/components/station/ControlPanel.vue
  frontend/src/components/station/PuckDeposit.test.ts
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/components/station/PuckInGrip.vue
  frontend/src/components/station/Resistance.vue
  frontend/src/components/station/StationInformation.vue
Due: frontend

formated name step
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/StartButton.vue
  frontend/src/components/cycles/StepList.vue
Due: frontend

marche pas avec Storybook :(
  frontend/src/components/cycles/StepList.stories.ts
  frontend/src/components/cycles/StepList.vue
  frontend/src/store/state.ts
Due: frontend

delete Step component, no need, not complicated enough
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/StartButton.vue
  frontend/src/components/cycles/Step.vue
  frontend/src/components/cycles/StepList.stories.ts
  frontend/src/components/cycles/StepList.vue
  frontend/src/components/station/ControlPanel.vue
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/components/station/PuckInGrip.vue
  frontend/src/components/station/StationInformation.vue
  frontend/src/store/state.ts
Due: frontend

oups default state is back to normal
  frontend/src/store/state.ts
Due: frontend

add tests
  frontend/src/components/cycles/StepList.stories.ts
  frontend/src/components/cycles/StepList.test.ts
  frontend/src/components/cycles/StepList.vue
Due: frontend

Remove unnessessary steps before moving robot
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/send_to_frontend_ready_state_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rework move robot to resistance station command
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/handler.py
  station/controller/src/handlers/move_robot/calculate_trajectory_handler.py
  station/controller/src/handlers/move_robot/get_robot_position_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_resistance_station_handler.py
  station/controller/src/handlers/move_robot/send_to_frontend_planned_trajectory_handler.py
  station/controller/src/handlers/move_robot/send_to_frontend_real_trajectory_coordinate_handler.py
  station/controller/src/handlers/move_robot/send_to_robot_planned_trajectory_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rework map resistanc handlers
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/map_resistance_to_puck_colors/__init__.py
  station/controller/src/handlers/map_resistance_to_puck_colors/map_resistance_to_puck_colors_handler.py
  station/controller/src/handlers/map_resistance_to_puck_colors/send_to_frontend_resistance_and_puck_colors_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rework move to command panel handler
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/move_robot/move_robot_to_command_panel_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rework read letters handler
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/map_letters_to_puck_corners/__init__.py
  station/controller/src/handlers/map_letters_to_puck_corners/map_letters_to_puck_corners_handler.py
  station/controller/src/handlers/map_letters_to_puck_corners/send_to_frontend_first_puck_corner_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Rework move to next puck handler
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/commands/step.py
  station/controller/src/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/tests/commands/test_command_builder.py
Due: station

change colors
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/StepList.vue
  frontend/src/components/station/Resistance.vue
Due: frontend
