Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

fix tests
  scripts/tests/detection/test_puck_detection.py
Due: scripts

fix test
  scripts/tests/detection/test_puck_detection.py
Due: scripts

change pixel dimension
  scripts/src/detection/acuro_markers/new_picture_1.jpeg
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
Due: scripts

resize capture + convert vectors to cm
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
  scripts/src/path_following/vectorizer.py
  scripts/src/pathfinding/show_path.py
Due: scripts

add threshold to path_correction
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

if/elif -> if/else
  scripts/src/path_following/vectorizer.py
Due: scripts

idee de changement
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/node.py
Due: scripts

remove venv
  scripts/src/detection/position_calculator.py
Due: scripts

obstacles square, a_star stop 112 pixels devant le goal, le robot se déplace en diagonal
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
  scripts/src/pathfinding/a_star.py
  scripts/src/pathfinding/map.py
Due: scripts

Add grip handling in websockets
  station/websockets/main.py
  station/websockets/mock_grip.py
Due: station

Fix GripState story
  frontend/src/components/station/GripState.stories.ts
  frontend/src/components/station/GripState.vue
Due: frontend

Add resistance websockets message
  station/websockets/main.py
  station/websockets/mock_grip.py
  station/websockets/mock_resistance.py
Due: station

Correct resistance
  station/websockets/main.py
  station/websockets/mock_resistance.py
Due: station

Finish puck colors websocket message
  station/websockets/main.py
  station/websockets/mock_puck_colors.py
  station/websockets/mock_resistance.py
Due: station

Finish puck corners websocket
  frontend/src/store/mutation-types.ts
  frontend/src/store/state.ts
  station/websockets/main.py
  station/websockets/mock_puck_corners.py
Due: station, frontend

Fix lint
  station/websockets/mock_puck_colors.py
  station/websockets/mock_puck_corners.py
Due: station

set and delete obstacles
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/node.py
Due: scripts

add pixel to cm convertor
  scripts/src/detection/acuro_markers/take_picture.py
  scripts/src/detection/dimension_convertor.py
  scripts/src/detection/position_calculator.py
Due: scripts

genant
  frontend/src/plugins/vuetify.ts
  frontend/src/store/state.ts
Due: frontend

Fix hover
  frontend/src/components/cycles/Mode.vue
  frontend/src/components/station/GripState.vue
  frontend/src/locales/fr.ts
Due: frontend

bijou ca fonctionne
  station/CMakeLists.txt
  station/path_planning/launch/planning.launch
  station/path_planning/main
  station/path_planning/main.py
  station/path_planning/mock_publisher.py
  station/robot_goal_and_obstacle_finder/src/detection/acuro_markers/robot_detection.py
  station/robot_goal_and_obstacle_finder/src/main
  station/world_camera_driver/launch/camera.launch
Due: station

reste juste un bug sur delete
  scripts/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  scripts/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
  scripts/Untitled.ipynb
  scripts/Untitled1.ipynb
  scripts/src/pathfinding/map.py
Due: scripts

setup
  station/path_following/CMakeLists.txt
  station/path_following/__init__.py
  station/path_following/conftest.py
  station/path_following/main.py
  station/path_following/mock_publisher.py
  station/path_following/package.xml
  station/path_following/path_following/__init__.py
  station/path_following/path_following/config.py
  station/path_following/path_following/movement_mode.py
  station/path_following/path_following/vectorizer.py
Due: station

add set_path
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

fix tests
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

ca marcheeeeeeeeeeeeeeeee
  station/controller/launch/debug.launch
  station/debug_vision_planning/CMakeLists.txt
  station/debug_vision_planning/launch/debug.launch
  station/debug_vision_planning/package.xml
  station/debug_vision_planning/src/main
  station/path_planning/main
  station/path_planning/mock_publisher.py
  station/robot_goal_and_obstacle_finder/src/main
Due: station

path_following node
  station/path_following/main.py
  station/path_following/path_following/vectorizer.py
Due: station

path_following fonctionne
  station/controller/launch/debug.launch
  station/path_following/launch/following.launch
  station/path_following/main
Due: station

remove time_it
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/puck_detection.py
  scripts/src/pathfinding/a_star.py
  scripts/src/pathfinding/map.py
Due: scripts

remove time_it
  scripts/src/path_following/vectorizer.py
  scripts/src/pathfinding/pathfinder.py
  scripts/src/pathfinding/show_path.py
  scripts/src/util/time_it.py
Due: scripts

fix path_following tests
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

fix map tests o.o
  scripts/tests/pathfinding/test_map.py
Due: scripts

convert angle
  station/path_following/main
Due: station

sauce qui peut
  .gitignore
  station/controller/launch/debug.launch
Due: station

update files
  station/path_following/path_following/vectorizer.py
  station/path_planning/main
  station/path_planning/pathfinding/a_star.py
  station/path_planning/pathfinding/breadth_first_search.py
  station/path_planning/pathfinding/config.py
  station/path_planning/pathfinding/direction.py
  station/path_planning/pathfinding/map.py
  station/path_planning/pathfinding/map_drawer.py
  station/path_planning/pathfinding/obstacle_representation.py
  station/path_planning/pathfinding/pathfinding_algorithm_factory.py
  station/path_planning/pathfinding/pathfinding_algorithms.py
  station/path_planning/pathfinding/show_path.py
  station/path_planning/pathfinding/tile_role.py
  station/path_planning/pathfinding/trajectory_creation_sample_1.py
  station/path_planning/pathfinding/trajectory_creation_sample_2.py
Due: station

CA MARCHE LETS GOOOOOOO
  station/path_following/launch/following.launch
  station/path_following/main
  station/path_planning/main
  station/path_planning/mock_publisher.py
  station/path_planning/pathfinding/rotation_helper.py
  station/path_planning/pathfinding/tests/test_breadth_first_search.py
  station/path_planning/pathfinding/tests/test_map.py
  station/path_planning/pathfinding/tests/test_pathfinder.py
  station/path_planning/pathfinding/tests/test_pathfinding_algorithm_factory.py
  station/path_planning/pathfinding/tests/test_rotation_helper.py
  station/robot_goal_and_obstacle_finder/src/main
  station/world_camera_driver/launch/camera.launch
Due: station

yo ca marche gros dog
  robot/CMakeLists.txt
  robot/motor_driver/CMakeLists.txt
  robot/motor_driver/launch/motor.launch
  robot/motor_driver/package.xml
  robot/motor_driver/src/.main.swp
  robot/motor_driver/src/main
Due: robot

fix lint
  scripts/src/detection/puck_detection.py
  scripts/src/pathfinding/a_star.py
  scripts/tests/pathfinding/test_map.py
Due: scripts

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
