Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

fix vectorize
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

Removing comments
  scripts/src/calibration/camera_calibrator.py
Due: scripts

Positionning image
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

Adjust first vector angle from the robot's perspective instead of from the top camera
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

adjust vector angles from robot pov
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

Use pixels instead of node.matrix_center
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

Add minimize vectors
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

Bump versions to 2.0.0
  frontend/package.json
  package-lock.json
  station/controller/package.xml
  station/path_planning/package.xml
  station/websockets/package.xml
  station/world_camera_driver/package.xml
  yarn.lock
Due: station, frontend

Add correct path tests
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

Fix CI (sorry GLO, I have failed you)
  frontend/package.json
  station/controller/CMakeLists.txt
  station/controller/package.xml
  station/path_planning/package.xml
  station/websockets/package.xml
  station/world_camera_driver/package.xml
Due: station, frontend

Add path to vectors
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

definitely not pylint
  scripts/.pylintrc
  scripts/src/path_following/vectorizer.py
Due: scripts

fix comment
  scripts/src/path_following/vectorizer.py
Due: scripts

add new type and things
  frontend/src/components/consumptions/BatteryCharge.test.ts
  frontend/src/components/consumptions/BatteryCharge.vue
  frontend/src/components/consumptions/ConsumptionInformation.vue
  frontend/src/components/consumptions/DynamicConsumption.vue
  frontend/src/components/consumptions/RemainingTime.stories.ts
  frontend/src/components/consumptions/RemainingTime.test.ts
  frontend/src/components/consumptions/RemainingTime.vue
  frontend/src/components/consumptions/RobotConsumptionInfo.vue
  frontend/src/components/consumptions/StaticConsumption.vue
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/Mode.test.ts
  frontend/src/components/cycles/Mode.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/batteryConsumption.ts
  frontend/src/types/message.ts
  frontend/src/types/robotConsumption.ts
Due: frontend

wont touch styling anymore :'(
  frontend/src/components/consumptions/BatteryCharge.stories.ts
  frontend/src/components/consumptions/BatteryCharge.test.ts
  frontend/src/components/consumptions/RobotConsumptionInfo.vue
  frontend/src/factories/StateFactory.ts
  frontend/src/store/state.ts
Due: frontend

test
  frontend/src/components/consumptions/RemainingTime.stories.ts
  frontend/src/components/consumptions/RemainingTime.test.ts
  frontend/src/components/consumptions/RobotConsumption.stories.ts
  frontend/src/components/consumptions/RobotConsumptionInfo.test.ts
  frontend/src/components/consumptions/RobotConsumptionInfo.vue
Due: frontend

format numbers to fit with GEL
  frontend/src/components/consumptions/RobotConsumption.stories.ts
  frontend/src/components/consumptions/RobotConsumptionInfo.vue
  frontend/src/locales/fr.ts
Due: frontend

fix story pour calmer les insecurites des gels
  frontend/src/components/consumptions/BatteryCharge.stories.ts
  frontend/src/components/consumptions/BatteryCharge.vue
  frontend/src/components/consumptions/RemainingTime.stories.ts
  frontend/src/components/consumptions/RobotConsumption.stories.ts
  frontend/src/components/consumptions/RobotConsumptionInfo.test.ts
  frontend/src/components/consumptions/RobotConsumptionInfo.vue
  frontend/src/types/message.ts
Due: frontend

add values to story
  frontend/src/components/consumptions/RobotConsumption.stories.ts
Due: frontend

Update frontend dependencies and fix station function call
  frontend/package.json
  frontend/yarn.lock
  station/__init__.py
  station/controller/commands/command.py
  station/controller/commands/tests/test_command.py
  station/controller/handlers/handler.py
  station/controller/handlers/wait_for_frontend_cycle_start_handler.py
  station/controller/handlers/wait_for_robot_ready_state_handler.py
Due: station, frontend

Do not start coverage workflow on PRs
  .github/workflows/coverage.yml
Due: none

Remove mocks from tests because I wasn't mocking an external dependance but instead 'private functions' so I should be testing the function's result and not who it called
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

remove comment
  scripts/src/path_following/vectorizer.py
Due: scripts

Adjust import paths
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/AcuroMarkers.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/obstacle_detection.py
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/robot_detection.py
  station/robot_goal_and_obstacle_finder/detection/hard_code_position/hard_code_position.py
  station/robot_goal_and_obstacle_finder/detection/hard_code_position/monde10.jpg
  station/robot_goal_and_obstacle_finder/detection/monde4.jpg
  station/robot_goal_and_obstacle_finder/detection/object_detection.py
  station/robot_goal_and_obstacle_finder/detection/puck_detection.py
  station/robot_goal_and_obstacle_finder/detection/table_detection.py
  station/robot_goal_and_obstacle_finder/detection/tests/acuro_markers/robot_5x5_four.jpg
  station/robot_goal_and_obstacle_finder/detection/tests/acuro_markers/test_acuro_marker.py
  station/robot_goal_and_obstacle_finder/detection/tests/acuro_markers/test_obstacle_detection.py
  station/robot_goal_and_obstacle_finder/detection/tests/acuro_markers/test_robot_detection.py
  station/robot_goal_and_obstacle_finder/detection/tests/image_without_square.jpg
  station/robot_goal_and_obstacle_finder/detection/tests/images/__init__.py
  station/robot_goal_and_obstacle_finder/detection/tests/images/camera_monde_qr.jpg
  station/robot_goal_and_obstacle_finder/detection/tests/images/monde3.jpg
  station/robot_goal_and_obstacle_finder/detection/tests/images/robot_5x5_five.jpg
  station/robot_goal_and_obstacle_finder/detection/tests/monde3.jpg
  station/robot_goal_and_obstacle_finder/detection/tests/test_lower_boundary.py
  station/robot_goal_and_obstacle_finder/detection/tests/test_puck_detection.py
  station/robot_goal_and_obstacle_finder/detection/tests/test_table_detection.py
  station/robot_goal_and_obstacle_finder/detection/tests/test_upper_boundary.py
  station/robot_goal_and_obstacle_finder/detection/utils/monde6.jpg
  station/robot_goal_and_obstacle_finder/detection/utils/track_bar_color.py
Due: station

ca avance
  scripts/src/detection/acuro_markers/global_finder.py
  scripts/src/detection/acuro_markers/marker_position.py
  scripts/src/detection/acuro_markers/monde10.jpg
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/obstacle_position.py
Due: scripts

add find botton position
  scripts/data/images/monde10.jpg
  scripts/src/detection/acuro_markers/global_finder.py
  scripts/src/detection/acuro_markers/image_obstacle.jpeg
  scripts/src/detection/acuro_markers/marker_position.py
  scripts/src/detection/acuro_markers/monde10.jpg
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/obstacle_position.py
Due: scripts

add v1
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/robot_detection.py
  scripts/src/detection/puck_detection.py
  scripts/src/path_following/vectorizer.py
Due: scripts

ezz
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
Due: scripts

change of ratio
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

pouvoir visualiser le plus qu'on peut
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
  scripts/src/path_following/vectorizer.py
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/map_drawer.py
  scripts/src/pathfinding/show_path.py
Due: scripts

Add test cases
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
Due: none

detect obstacle work good baby
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
Due: scripts

change name
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
Due: scripts

Add A*
  scripts/src/pathfinding/a_star.py
  scripts/src/pathfinding/pathfinding_algorithm_factory.py
  scripts/src/pathfinding/show_path.py
Due: scripts

add missing tests
  scripts/tests/pathfinding/test_a_star.py
Due: scripts

Add reference
  scripts/src/pathfinding/a_star.py
Due: scripts

Shorten long lines
  scripts/src/pathfinding/a_star.py
Due: scripts

Add round obstacles/pucks
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/obstacle_representation.py
  scripts/src/pathfinding/show_path.py
Due: scripts

add walls
  scripts/src/pathfinding/map.py
Due: scripts
