Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

Refactor usage of rospy in websockets package
  station/websockets/main
  station/websockets/mock/mock_letters.py
  station/websockets/mock/mock_puck_colors.py
  station/websockets/mock/mock_puck_is_in_grip.py
  station/websockets/mock/mock_puck_is_not_in_grip.py
  station/websockets/mock/mock_resistance.py
  station/websockets/mock/mock_robot_consumption.py
Due: station

Add current_step mock and logic
  station/websockets/main
  station/websockets/mock/mock_current_step.py
Due: station

Add full cycle mock
  station/websockets/mock/mock_full_cycle.py
Due: station

Fix some things, but got import errors
  frontend/src/components/cycles/Chronometer.stories.ts
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/ResetButton.stories.ts
  frontend/src/components/cycles/ResetButton.test.ts
  frontend/src/components/cycles/ResetButton.vue
  frontend/src/components/cycles/StartButton.stories.ts
  frontend/src/components/cycles/StartButton.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  station/controller/main
  station/websockets/main
  station/websockets/mock/mock_full_cycle.py
Due: station, frontend

Slightly enhance mock logic
  frontend/src/store/state.ts
  station/websockets/main
  station/websockets/mock/mock_current_step.py
  station/websockets/mock/mock_letters.py
  station/websockets/mock/mock_puck_colors.py
  station/websockets/mock/mock_puck_is_in_grip.py
  station/websockets/mock/mock_puck_is_not_in_grip.py
  station/websockets/mock/mock_resistance.py
  station/websockets/mock/mock_robot_consumption.py
  station/websockets/mock_full_cycle.py
Due: station, frontend

Complete more things (yes my commits are vague, fuck you)
  station/websockets/main
  station/websockets/mock/mock_current_step.py
  station/websockets/mock/mock_letters.py
  station/websockets/mock/mock_puck_colors.py
  station/websockets/mock/mock_puck_is_in_grip.py
  station/websockets/mock/mock_puck_is_not_in_grip.py
  station/websockets/mock/mock_resistance.py
  station/websockets/mock/mock_robot_consumption.py
  station/websockets/mock_full_cycle.py
Due: station

Try to fix mocks
  frontend/src/store/mutations.ts
  station/websockets/main
  station/websockets/mock/mock_current_step.py
  station/websockets/mock/mock_letters.py
  station/websockets/mock/mock_puck_colors.py
  station/websockets/mock/mock_puck_is_in_grip.py
  station/websockets/mock/mock_puck_is_not_in_grip.py
  station/websockets/mock/mock_resistance.py
  station/websockets/mock/mock_robot_consumption.py
  station/websockets/mock_full_cycle.py
Due: station, frontend

Fix logic in frontend
  frontend/src/components/cycles/Chronometer.stories.ts
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/ResetButton.stories.ts
  frontend/src/components/cycles/ResetButton.test.ts
  frontend/src/components/cycles/ResetButton.vue
  frontend/src/components/cycles/StartButton.stories.ts
  frontend/src/components/cycles/StartButton.vue
  frontend/src/components/station/FirstCorner.test.ts
  frontend/src/components/station/Resistance.test.ts
  frontend/src/store/mutations.ts
Due: frontend

Fix full cycle mock
  station/websockets/main
  station/websockets/mock/mock_robot_consumption.py
  station/websockets/mock_full_cycle.py
Due: station

Fix current step communication
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  station/websockets/mock_full_cycle.py
Due: station, frontend

Fix yplint
  station/websockets/mock_full_cycle.py
Due: station

Fix typescript errors
  frontend/src/components/cycles/StepList.vue
  frontend/src/store/mutations.ts
  frontend/src/types/message.ts
Due: frontend

Fix step list
  frontend/src/components/cycles/StepList.vue
Due: frontend

Cleanup reset state mutation
  frontend/src/store/mutations.ts
Due: frontend

Re-add old IP address
  station/websockets/main
Due: station

Rename station information for objectives information
  .github/workflows/coverage.yml
  .github/workflows/station-ci.yml
  docker-compose.yml
  frontend/src/components/objectives/FirstCorner.stories.ts
  frontend/src/components/objectives/FirstCorner.test.ts
  frontend/src/components/objectives/FirstCorner.vue
  frontend/src/components/objectives/GripState.stories.ts
  frontend/src/components/objectives/GripState.test.ts
  frontend/src/components/objectives/GripState.vue
  frontend/src/components/objectives/ObjectivesInformation.stories.ts
  frontend/src/components/objectives/ObjectivesInformation.test.ts
  frontend/src/components/objectives/ObjectivesInformation.vue
  frontend/src/components/objectives/PuckDeposit.stories.ts
  frontend/src/components/objectives/PuckDeposit.test.ts
  frontend/src/components/objectives/PuckDeposit.vue
  frontend/src/components/objectives/Resistance.stories.ts
  frontend/src/components/objectives/Resistance.test.ts
  frontend/src/components/objectives/Resistance.vue
  frontend/src/components/station/StationInformation.test.ts
  frontend/src/layouts/MainLayout.test.ts
  frontend/src/layouts/MainLayout.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
  station/README.md
Due: station, frontend

Enhance frontend visual
  frontend/src/components/consumptions/ConsumptionInformation.vue
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/CycleNumber.vue
  frontend/src/components/objectives/ObjectivesInformation.vue
  frontend/src/components/trajectories/Legend.vue
  frontend/src/components/trajectories/Trajectories.vue
  frontend/src/factories/StateFactory.ts
  frontend/src/layouts/MainLayout.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
Due: frontend

Justify cycle information buttons
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/CycleInformation.vue
Due: frontend

Add test and stories to CycleNumber
  frontend/src/components/cycles/CycleNumber.stories.ts
  frontend/src/components/cycles/CycleNumber.test.ts
  frontend/src/util/wrapComponentForTest.ts
Due: frontend

Fix renaming of station to objectives
  .github/workflows/coverage.yml
  .github/workflows/station-ci.yml
  docker-compose.yml
  frontend/src/components/consumptions/BatteryCharge.test.ts
  frontend/src/components/consumptions/ConsumptionInformation.test.ts
  frontend/src/components/consumptions/RemainingTime.test.ts
  frontend/src/components/consumptions/RobotConsumptionInfo.test.ts
  frontend/src/components/cycles/Chronometer.test.ts
  frontend/src/components/cycles/CycleInformation.test.ts
  frontend/src/components/cycles/CycleNumber.stories.ts
  frontend/src/components/cycles/CycleNumber.test.ts
  frontend/src/components/cycles/CycleNumber.vue
  frontend/src/components/cycles/Mode.stories.ts
  frontend/src/components/cycles/Mode.test.ts
  frontend/src/components/cycles/ResetButton.test.ts
  frontend/src/components/cycles/StartButton.test.ts
  frontend/src/components/cycles/StepList.test.ts
  frontend/src/components/objectives/FirstCorner.test.ts
  frontend/src/components/objectives/GripState.test.ts
  frontend/src/components/objectives/ObjectivesInformation.test.ts
  frontend/src/components/objectives/PuckDeposit.test.ts
  frontend/src/components/objectives/Resistance.test.ts
  frontend/src/components/trajectories/Legend.test.ts
  frontend/src/components/trajectories/Trajectories.test.ts
  frontend/src/layouts/MainLayout.test.ts
  frontend/src/views/Main.test.ts
  station/README.md
  station/websockets/main
Due: station, frontend

Remove TODO
  frontend/src/components/cycles/Chronometer.vue
Due: frontend

Rename reset button for next cycle button
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/CycleNumber.vue
  frontend/src/components/cycles/NextCycleButton.stories.ts
  frontend/src/components/cycles/NextCycleButton.test.ts
  frontend/src/components/cycles/NextCycleButton.vue
  frontend/src/components/cycles/ResetButton.test.ts
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
Due: frontend

Enhance visual of card titles
  frontend/src/components/consumptions/ConsumptionInformation.vue
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/CycleNumber.stories.ts
  frontend/src/components/cycles/CycleNumber.test.ts
  frontend/src/components/cycles/CycleNumber.vue
  frontend/src/components/cycles/NextCycleButton.vue
  frontend/src/components/cycles/StepList.vue
  frontend/src/components/objectives/FirstCorner.vue
  frontend/src/components/objectives/GripState.vue
  frontend/src/components/objectives/ObjectivesInformation.vue
  frontend/src/components/trajectories/Legend.vue
  frontend/src/components/trajectories/Trajectories.vue
  frontend/src/layouts/MainLayout.vue
Due: frontend

Add app title and icon
  frontend/public/favicon.ico
  frontend/src/main.ts
Due: frontend

comment out 'angle_away_from_obstacle'
  robot/motor_driver/main
  station/controller/handlers/grip_puck_handler.py
  station/path_following/main
Due: robot, station

Adaptive grab_puck distance
  station/controller/handlers/grip_puck_handler.py
Due: station

Bump versions
  frontend/package.json
  robot/letter_reading/package.xml
  robot/motor_driver/package.xml
  station/controller/package.xml
  station/debug_vision_planning/package.xml
  station/path_following/package.xml
  station/path_planning/package.xml
  station/robot_goal_and_obstacle_finder/package.xml
  station/websockets/package.xml
  station/world_camera_driver/package.xml
Due: robot, station, frontend

Lowkey pushing a CSS fix on develop
  frontend/src/components/trajectories/Legend.vue
Due: frontend

ina fonctionne
  robot/ina/CMakeLists.txt
  robot/ina/launch/ina.launch
  robot/ina/package.xml
  robot/ina/src/inaInterface.py
  robot/ina/src/main
  robot/letter_reading/letter_mapping.py
  robot/motor_driver/launch/motor.launch
  robot/motor_driver/main
Due: robot

Remove modes
  robot/motor_driver/Modes.py
Due: robot

test work pls
  station/controller/commands/tests/test_command_builder.py
Due: station

pylint reeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
  robot/.pylintrc
  robot/ina/src/inaInterface.py
Due: robot

typo
  station/controller/commands/command_builder.py
Due: station

grr
  robot/.pylintrc
Due: robot

init
  robot/letter_reading/letter_mapping.py
Due: robot

remove stop_servos
  robot/letter_reading/letter_mapping.py
Due: robot

change name
  robot/letter_reading/letter_mapping.py
Due: robot

small refactor
  robot/letter_reading/letter_mapping.py
  robot/letter_reading/process_image_to_grayscale.py
Due: robot

on y va pour ca
  robot/letter_reading/letter_mapping.py
Due: robot

print values
  robot/letter_reading/map_letters.py
Due: robot
