Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

correct some errors
  scripts/src/calibration/CameraCalibration.py
  scripts/src/calibration/camera_calibrator.py
Due: scripts

checkstyle
  scripts/src/calibration/camera_calibrator.py
Due: scripts

Correct some styles
  scripts/src/calibration/camera_calibrator.py
Due: scripts

ignoring main
  scripts/src/calibration/camera_calibrator.py
Due: scripts

Make controller a ros node
  station/controller/src/main.py
  station/websockets/src/mock_robot.py
Due: station

Add basic logic for WaitForFrontendCycleStartHandler
  station/controller/src/handlers/wait_for_frontend_cycle_start_handler.py
  station/controller/src/main.py
  station/websockets/src/main.py
Due: station

Test unregister handlers
  station/controller/src/commands/command.py
  station/controller/src/handlers/handler.py
  station/controller/src/handlers/wait_for_frontend_cycle_start_handler.py
  station/controller/tests/commands/test_command.py
  station/requirements.txt
Due: station

Add mock for start
  station/controller/src/handlers/wait_for_frontend_cycle_start_handler.py
  station/controller/src/mock_start.py
  station/websockets/src/main.py
  station/websockets/src/mock_robot.py
Due: station

Add logic for ready handler
  station/controller/src/handlers/wait_for_robot_ready_state_handler.py
Due: station

Enhance mock ready and mock start
  station/controller/src/mock_ready.py
Due: station

fix
  frontend/src/components/consumptions/BatteryCharge.test.ts
  frontend/src/components/consumptions/RemainingTime.test.ts
Due: frontend

Starting point handling null
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

Correct handle
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/commands/command.py
  station/controller/src/commands/command_builder.py
  station/controller/src/commands/cycle_steps.py
  station/controller/src/handlers/end_cycle_handler.py
  station/controller/src/handlers/grip_puck_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_command_panel_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_next_corner_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_next_puck_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_resistance_station_handler.py
  station/controller/src/handlers/move_robot/move_robot_to_square_center_handler.py
  station/controller/src/handlers/move_robot/wait_for_robot_arrival_handler.py
  station/controller/src/handlers/read_letters_handler.py
  station/controller/src/handlers/read_resistance_handler.py
  station/controller/src/handlers/release_puck_handler.py
  station/controller/src/handlers/wait_for_frontend_cycle_start_handler.py
  station/controller/src/handlers/wait_for_robot_ready_state_handler.py
  station/controller/src/main.py
  station/controller/tests/commands/test_command.py
  station/websockets/src/main.py
Due: station

Fix subscribers
  station/controller/src/commands/command.py
  station/controller/src/handlers/wait_for_frontend_cycle_start_handler.py
  station/controller/src/handlers/wait_for_robot_ready_state_handler.py
  station/controller/src/mock_start_cycle.py
  station/controller/tests/commands/test_command.py
Due: station

Document how to test ROS topics
  station/README.md
Due: station

Fix lint
  station/controller/src/commands/chain_of_commands_factory.py
  station/controller/src/main.py
Due: station

Being to fix test imports
  station/controller/tests/commands/test_chain_of_commands_factory.py
  station/controller/tests/commands/test_command.py
  station/controller/tests/commands/test_command_builder.py
Due: station

Fix workflows strings in coverage workflow
  .github/workflows/coverage.yml
Due: none

clean up code
  scripts/src/calibration/camera_calibrator.py
Due: scripts

saving trajectory in frontend
  frontend/src/components/trajectories/Trajectories.stories.ts
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

more cleaning
  scripts/src/calibration/camera_calibrator.py
Due: scripts

Create corners
  scripts/src/mapping/corner.py
  scripts/src/mapping/letter.py
  scripts/src/mapping/map_corners.py
  scripts/tests/mapping/test_corner.py
  scripts/tests/mapping/test_map_corners.py
Due: scripts

On peut avoir les corners avec leur couleur et position dans le bonne ordre (une fois qu'on a les coordonnées des 4 coins, une lecture de résistance et la liste des lettres du panneau de commande)
  scripts/src/mapping/command_panel.py
  scripts/src/mapping/corner.py
  scripts/src/mapping/letter.py
  scripts/src/path_following/__init__.py
  scripts/tests/mapping/test_command_panel.py
  scripts/tests/mapping/test_letter.py
  scripts/tests/mapping/test_map_corners.py
Due: scripts

Change test structure
  station/__init__.py
  station/controller/__init__.py
  station/controller/src/__init__.py
  station/controller/src/conftest.py
  station/controller/src/tests/commands/test_chain_of_commands_factory.py
  station/controller/src/tests/commands/test_command.py
  station/controller/src/tests/commands/test_command_builder.py
  station/controller/tests/__init__.py
  station/controller/tests/commands/__init__.py
  station/path_planning/__init__.py
  station/path_planning/src/conftest.py
  station/path_planning/src/pathfinding/breadth_first_search.py
  station/path_planning/src/pathfinding/map.py
  station/path_planning/src/pathfinding/node.py
  station/path_planning/src/pathfinding/pathfinding_algorithm_factory.py
  station/path_planning/src/pathfinding/show_path.py
  station/path_planning/src/tests/pathfinding/test_breadth_first_search.py
  station/path_planning/src/tests/pathfinding/test_map.py
  station/path_planning/src/tests/pathfinding/test_pathfinder.py
  station/path_planning/src/tests/pathfinding/test_pathfinding_algorithm_factory.py
  station/path_planning/src/tests/pathfinding/test_rotation_helper.py
  station/websockets/__init__.py
  station/world_camera_driver/__init__.py
Due: station

Add smooth path
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/__init__.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

Add two tests + fix algo
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

Add vectorize
  scripts/src/path_following/vectorizer.py
Due: scripts

Late night commit for destination and depart point
  frontend/src/components/trajectories/Trajectories.stories.ts
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

Lint
  scripts/src/mapping/command_panel.py
  scripts/tests/mapping/test_command_panel.py
Due: scripts

Resolving undefined issues
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

range(len()) to enumerate()
  scripts/src/mapping/command_panel.py
Due: scripts

Position of the legend adaptative
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

Fix tests
  station/controller/commands/command.py
  station/controller/handlers/handler.py
Due: station

uptade with develop
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

removing constructor
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

Rename send_data.txt to send_data.py
  scripts/src/communication/send_data.py
Due: scripts

some changes
  frontend/src/components/trajectories/Trajectories.stories.ts
Due: frontend

fix pylint
  scripts/src/communication/send_data.py
Due: scripts

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
