Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

Pre-rouler avec ros
  robot/path_planning/src/pathfinding/__init__.py
  robot/path_planning/src/pathfinding/breadth_first_search.py
  robot/path_planning/src/pathfinding/direction.py
  robot/path_planning/src/pathfinding/map.py
  robot/path_planning/src/pathfinding/map_drawer.py
  robot/path_planning/src/pathfinding/node.py
  robot/path_planning/src/pathfinding/path_not_found_exception.py
  robot/path_planning/src/pathfinding/pathfinder.py
  robot/path_planning/src/pathfinding/pathfinding_algorithm.py
  robot/path_planning/src/pathfinding/pathfinding_algorithm_factory.py
  robot/path_planning/src/pathfinding/rotation_helper.py
  robot/path_planning/src/pathfinding/show_path.py
  robot/path_planning/src/pathfinding/tile_role.py
Due: robot

cleanup
  scripts/src/detection/camera_monde_qr.jpg
  scripts/src/detection/color_boundaries.py
  scripts/src/detection/lower_boundary.py
  scripts/src/detection/monde2.jpg
  scripts/src/detection/monde4.jpg
  scripts/src/detection/monde5.jpg
  scripts/src/detection/monde6.jpg
  scripts/src/detection/monde7.jpg
  scripts/src/detection/object_detection.py
  scripts/src/detection/puck_detection.py
  scripts/src/detection/qr_code_detection.py
  scripts/src/detection/qr_code_type.py
  scripts/src/detection/upper_boundary.py
  scripts/tests/detection/test_puck_detection.py
Due: scripts

undo delete qrcode
  scripts/src/detection/qr_code_detection.py
  scripts/src/detection/qr_code_type.py
Due: scripts

fix
  scripts/src/detection/qr_code_detection.py
  scripts/src/detection/utils/track_bar_color.py
  scripts/tests/detection/test_qr_detection.py
Due: scripts

add scikit-learn to requirements.txt
  scripts/requirements.txt
Due: scripts

fix test
  scripts/tests/detection/test_puck_detection.py
Due: scripts

pret a tester???????
  robot/path_planning/src/main.py
  robot/path_planning/src/pathfinding/map.py
  robot/path_planning/src/pathfinding/map_drawer.py
  robot/path_planning/src/pathfinding/show_path.py
Due: robot

Move path planning node to /station
  station/path_planning/CMakeLists.txt
  station/path_planning/__init__.py
  station/path_planning/package.xml
  station/path_planning/src/__init__.py
  station/path_planning/src/main.py
  station/path_planning/src/mock_publisher.py
  station/path_planning/src/pathfinding/__init__.py
  station/path_planning/src/pathfinding/breadth_first_search.py
  station/path_planning/src/pathfinding/direction.py
  station/path_planning/src/pathfinding/map.py
  station/path_planning/src/pathfinding/node.py
  station/path_planning/src/pathfinding/path_not_found_exception.py
  station/path_planning/src/pathfinding/pathfinder.py
  station/path_planning/src/pathfinding/pathfinding_algorithm.py
  station/path_planning/src/pathfinding/pathfinding_algorithm_factory.py
  station/path_planning/src/pathfinding/rotation_helper.py
  station/path_planning/src/pathfinding/show_path.py
  station/path_planning/src/pathfinding/tile_role.py
  station/path_planning/tests/__init__.py
  station/path_planning/tests/test_sample.py
Due: station

tests
  frontend/src/components/cycles/Chronometer.stories.ts
  frontend/src/components/cycles/Chronometer.test.ts
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/StartButton.vue
Due: frontend

node almost working
  .gitignore
  station/path_planning/src/main.py
  station/path_planning/src/pathfinding/breadth_first_search.py
  station/path_planning/src/pathfinding/direction.py
  station/path_planning/src/pathfinding/map.py
  station/path_planning/src/pathfinding/node.py
  station/path_planning/src/pathfinding/pathfinder.py
  station/path_planning/src/pathfinding/pathfinding_algorithm_factory.py
  station/path_planning/src/pathfinding/show_path.py
  station/path_planning/src/pathfinding/tile_role.py
  station/path_planning/tests/pathfinding/__init__.py
  station/path_planning/tests/pathfinding/test_breadth_first_search.py
  station/path_planning/tests/pathfinding/test_map.py
  station/path_planning/tests/pathfinding/test_pathfinder.py
  station/path_planning/tests/pathfinding/test_pathfinding_algorithm_factory.py
  station/path_planning/tests/pathfinding/test_rotation_helper.py
Due: station

modified build depends
  station/path_planning/CMakeLists.txt
  station/path_planning/package.xml
Due: station

typo
  frontend/src/components/cycles/Chronometer.test.ts
  frontend/src/store/state.ts
Due: frontend

verify chrono stop + put right default state back
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
Due: frontend

Encode image to json
  station/websockets/src/main.py
Due: station

Add handle for robot
  station/websockets/src/main.py
Due: station

Add handle for path
  station/websockets/src/main.py
Due: station

Add handle for resistance
  station/websockets/src/main.py
Due: station

Handle puck colors
  station/websockets/src/main.py
Due: station

Handle puck corners
  station/websockets/src/main.py
Due: station

Handle end
  station/websockets/src/main.py
Due: station

Handle start cycle
  station/websockets/src/main.py
Due: station

Enhance cycle ready
  station/websockets/src/main.py
Due: station

Fix start_cycle
  station/websockets/src/main.py
Due: station

no need no hour
  frontend/src/components/cycles/Chronometer.test.ts
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/StartButton.vue
Due: frontend

Fix lint
  station/.pylintrc
  station/websockets/src/main.py
Due: station

Trajectory front end done
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

test si ca fonctionne
  scripts/requirements.txt
  scripts/src/detection/monde10.jpg
  scripts/src/detection/monde4.jpg
  scripts/src/detection/square_detection.py
  scripts/tests/detection/test_puck_detection.py
Due: scripts

test with try catch
  scripts/src/detection/puck_detection.py
Due: scripts

Delete .DS_Store
  scripts/.DS_Store
Due: scripts

test pour l'image
  scripts/src/detection/puck_detection.py
  scripts/tests/detection/test_puck_detection.py
Due: scripts

state really back to normal
  frontend/src/store/state.ts
Due: frontend

delete everything used to do manual testing
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/store/mutations.ts
Due: frontend

delete unecessery thing in startButton
  frontend/src/components/cycles/StartButton.vue
Due: frontend

delete button from main component
  frontend/src/components/cycles/CycleInformation.vue
Due: frontend

detect robot
  scripts/src/detection/acuro_markers/__init__.py
  scripts/src/detection/robot/__init__.py
  scripts/src/detection/robot/robot_5x5_five.jpg
  scripts/src/detection/robot/robot_5x5_four.jpg
  scripts/src/detection/robot/robot_5x5_one.jpg
  scripts/src/detection/robot/robot_5x5_three.jpg
  scripts/src/detection/robot/robot_5x5_two.jpg
  scripts/src/detection/robot/robot_detection.py
  scripts/src/detection/robot/robot_detection_testing.py
Due: scripts

devrait fonctionner
  scripts/Dockerfile
  scripts/src/detection/puck_detection.py
Due: scripts

remove test of square qui font toute peter
  scripts/tests/detection/test_square_detection.py
Due: scripts

fix test
  scripts/tests/detection/test_lower_boundary.py
  scripts/tests/detection/test_upper_boundary.py
Due: scripts

fix un etst qui petait
  scripts/tests/detection/test_upper_boundary.py
Due: scripts
