Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

before merge commit
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
Due: none

the new integration seems to work
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
  scripts/src/detection/acuro_markers/obstacle_and_robot_finder.py
  scripts/src/pathfinding/show_path.py
Due: scripts

marche bien - pour une image
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
  scripts/src/path_following/vectorizer.py
Due: scripts

fix failing tests
  scripts/src/path_following/movement_mode.py
  scripts/src/path_following/vectorizer.py
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

add ohmmeter mode tests
  scripts/tests/path_following/test_vectorizer.py
Due: scripts

Add fake real coordinate in state factory
  frontend/src/factories/StateFactory.ts
Due: frontend

Fix lint
  frontend/src/factories/StateFactory.ts
Due: frontend

Fix array splicing
  frontend/src/factories/StateFactory.ts
Due: frontend

change ratio
  frontend/src/components/trajectories/Trajectories.vue
  frontend/src/factories/StateFactory.ts
Due: frontend

legend right next to trajectory
  frontend/src/components/trajectories/Legend.vue
  frontend/src/components/trajectories/Trajectories.vue
  frontend/src/layouts/MainLayout.vue
  frontend/src/locales/en.ts
  frontend/src/locales/fr.ts
  frontend/src/store/state.ts
Due: frontend

test legend
  frontend/src/components/trajectories/Legend.test.ts
Due: frontend

fix conso styling
  frontend/src/components/consumptions/RobotConsumptionInfo.vue
Due: frontend

fix la legend ira en bas si l'écran est trop petit
  frontend/src/components/trajectories/Trajectories.vue
Due: frontend

spacing between chrono + steps
  frontend/src/components/cycles/CycleInformation.vue
Due: frontend

start dark theme
  frontend/src/components/consumptions/BatteryCharge.vue
  frontend/src/components/consumptions/ConsumptionInformation.vue
  frontend/src/components/consumptions/RemainingTime.vue
  frontend/src/components/consumptions/RobotConsumptionInfo.vue
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/StartButton.vue
  frontend/src/components/station/FirstCorner.vue
  frontend/src/components/station/GripState.vue
  frontend/src/components/station/PuckDeposit.vue
  frontend/src/components/station/Resistance.vue
  frontend/src/components/station/StationInformation.vue
  frontend/src/components/trajectories/Legend.test.ts
  frontend/src/components/trajectories/Legend.vue
  frontend/src/components/trajectories/Trajectories.vue
  frontend/src/plugins/vuetify.ts
Due: frontend

Update frontend dependencies
  frontend/package.json
  frontend/yarn.lock
Due: frontend

fix test
  scripts/src/detection/utils/track_bar_color.py
  scripts/tests/detection/test_puck_detection.py
Due: scripts

pour mon tit beno
  frontend/src/components/cycles/StartButton.vue
  frontend/src/components/trajectories/Legend.vue
  frontend/src/plugins/vuetify.ts
Due: frontend

fix naming to fix storybook error
  frontend/src/components/station/GripState.stories.ts
Due: frontend

change brown
  frontend/src/components/station/Resistance.stories.ts
Due: frontend

brown enum change
  frontend/src/components/station/Resistance.stories.ts
  frontend/src/types/color.ts
Due: frontend

add time_it
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
  scripts/src/detection/acuro_markers/robot_detection.py
  scripts/src/path_following/vectorizer.py
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/pathfinder.py
  scripts/src/pathfinding/show_path.py
  scripts/src/util/__init__.py
  scripts/src/util/time_it.py
Due: scripts

pre
  scripts/src/pathfinding/a_star.py
  scripts/src/pathfinding/breadth_first_search.py
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/node.py
  scripts/src/pathfinding/show_path.py
Due: scripts

detect all pucks without specifying a color
  scripts/src/detection/puck_detection.py
Due: scripts

fix tests
  scripts/src/detection/puck_detection.py
  scripts/tests/detection/test_puck_detection.py
Due: scripts

changement hsv white
  scripts/src/detection/color_boundaries.py
  scripts/src/detection/monde.png
  scripts/src/detection/puck_detection.py
Due: scripts

ajuster s'ils y a plusieurs pucks de la meme couleur
  scripts/src/detection/puck_detection.py
Due: scripts

remove imread
  scripts/src/detection/puck_detection.py
Due: scripts

?
  scripts/tests/detection/test_puck_detection.py
Due: scripts

fix image path
  scripts/tests/detection/test_puck_detection.py
Due: scripts

changer path test image
  scripts/tests/detection/test_puck_detection.py
Due: scripts

le noeud marche avec un launch file
  station/robot_goal_and_obstacle_finder/detection/acuro_markers/obstacle_detection.py
  station/robot_goal_and_obstacle_finder/detection/position_calculator.py
  station/robot_goal_and_obstacle_finder/detection/tests/__init__.py
  station/robot_goal_and_obstacle_finder/detection/tests/acuro_markers/__init__.py
  station/robot_goal_and_obstacle_finder/detection/tests/acuro_markers/test_acuro_marker.py
  station/robot_goal_and_obstacle_finder/detection/tests/acuro_markers/test_obstacle_detection.py
  station/robot_goal_and_obstacle_finder/detection/tests/acuro_markers/test_robot_detection.py
  station/robot_goal_and_obstacle_finder/detection/tests/images/__init__.py
  station/robot_goal_and_obstacle_finder/detection/tests/images/camera_monde_qr.jpg
  station/robot_goal_and_obstacle_finder/detection/tests/images/monde3.jpg
  station/robot_goal_and_obstacle_finder/detection/tests/images/robot_5x5_five.jpg
  station/robot_goal_and_obstacle_finder/detection/tests/test_lower_boundary.py
  station/robot_goal_and_obstacle_finder/detection/tests/test_puck_detection.py
  station/robot_goal_and_obstacle_finder/detection/tests/test_square_detection.py
  station/robot_goal_and_obstacle_finder/detection/tests/test_table_detection.py
  station/robot_goal_and_obstacle_finder/detection/tests/test_upper_boundary.py
  station/robot_goal_and_obstacle_finder/launch/finder.launch
  station/robot_goal_and_obstacle_finder/main.py
  station/robot_goal_and_obstacle_finder/src/detection/__init__.py
  station/robot_goal_and_obstacle_finder/src/detection/acuro_markers/AcuroMarkers.py
  station/robot_goal_and_obstacle_finder/src/detection/acuro_markers/__init__.py
  station/robot_goal_and_obstacle_finder/src/detection/acuro_markers/aruco_position.py
  station/robot_goal_and_obstacle_finder/src/detection/acuro_markers/marker_position.py
  station/robot_goal_and_obstacle_finder/src/detection/acuro_markers/obstacle_and_robot_finder.py
  station/robot_goal_and_obstacle_finder/src/detection/acuro_markers/obstacle_detection.py
  station/robot_goal_and_obstacle_finder/src/detection/acuro_markers/robot_detection.py
  station/robot_goal_and_obstacle_finder/src/detection/color_boundaries.py
  station/robot_goal_and_obstacle_finder/src/detection/hard_code_position/__init__.py
  station/robot_goal_and_obstacle_finder/src/detection/hard_code_position/hard_code_position.py
  station/robot_goal_and_obstacle_finder/src/detection/lower_boundary.py
  station/robot_goal_and_obstacle_finder/src/detection/object_detection.py
  station/robot_goal_and_obstacle_finder/src/detection/position.py
  station/robot_goal_and_obstacle_finder/src/detection/position_calculator.py
  station/robot_goal_and_obstacle_finder/src/detection/puck_detection.py
  station/robot_goal_and_obstacle_finder/src/detection/square_detection.py
  station/robot_goal_and_obstacle_finder/src/detection/table_detection.py
  station/robot_goal_and_obstacle_finder/src/detection/upper_boundary.py
  station/robot_goal_and_obstacle_finder/src/detection/utils/stack_images.py
  station/robot_goal_and_obstacle_finder/src/detection/utils/track_bar_color.py
  station/robot_goal_and_obstacle_finder/src/main
Due: station

test on cam, recalculate path + only try correction
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
Due: none

pixel->cm
  TESTER_MODULES_ENSEMBLES_SANS_ROS.py
Due: none

ajout dun filtre pour ameliorer la detection + amelioration thresholds
  scripts/src/detection/color_boundaries.py
  scripts/src/detection/new_monde.png
  scripts/src/detection/new_monde2.jpg
  scripts/src/detection/new_monde3.jpg
  scripts/src/detection/new_monde4.jpg
  scripts/src/detection/new_monde5.jpg
  scripts/src/detection/new_monde6.jpg
  scripts/src/detection/new_monde7.jpg
  scripts/src/detection/puck_detection.py
  scripts/src/detection/utils/new_monde2.jpg
  scripts/src/detection/utils/new_monde3.jpg
  scripts/src/detection/utils/new_monde4.jpg
  scripts/src/detection/utils/new_monde5.jpg
  scripts/src/detection/utils/new_monde7.jpg
  scripts/src/detection/utils/track_bar_color.py
Due: scripts

avancement correction
  scripts/src/detection/color_boundaries.py
  scripts/src/detection/puck_detection.py
  scripts/src/detection/robot_obstacles3.jpg
  scripts/src/detection/robot_obstacles4.jpg
  scripts/src/detection/robot_obstacles5.jpg
  scripts/src/detection/trajectory_example_3.jpg
  scripts/src/detection/utils/track_bar_color.py
  scripts/src/detection/utils/trajectory_example_3.jpg
Due: scripts

remove glare from images and amelioration tresholds
  scripts/data/images/camera_monde_qr.jpg
  scripts/data/images/monde_psd.jpg
  scripts/data/images/new_monde2.jpg
  scripts/data/images/new_monde3.jpg
  scripts/data/images/new_monde4.jpg
  scripts/data/images/new_monde5.jpg
  scripts/data/images/new_monde6.jpg
  scripts/data/images/new_monde7.jpg
  scripts/src/detection/color_boundaries.py
  scripts/src/detection/monde.png
  scripts/src/detection/new_monde.png
  scripts/src/detection/new_monde2.jpg
  scripts/src/detection/new_monde3.jpg
  scripts/src/detection/new_monde4.jpg
  scripts/src/detection/new_monde5.jpg
  scripts/src/detection/new_monde6.jpg
  scripts/src/detection/new_monde7.jpg
  scripts/src/detection/puck_detection.py
  scripts/src/detection/robot_obstacles3.jpg
  scripts/src/detection/robot_obstacles4.jpg
  scripts/src/detection/robot_obstacles5.jpg
  scripts/src/detection/trajectory_example_3.jpg
  scripts/src/detection/utils/monde.png
  scripts/src/detection/utils/new_monde2.jpg
  scripts/src/detection/utils/new_monde3.jpg
  scripts/src/detection/utils/new_monde4.jpg
  scripts/src/detection/utils/new_monde5.jpg
  scripts/src/detection/utils/new_monde7.jpg
Due: scripts

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
