Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

Add prettier recommended settings
  frontend/.eslintrc.js
Due: frontend

Rename util method for wrapping with vuetify
  frontend/src/components/consumptions/ConsumptionInformation.test.ts
  frontend/src/components/cycles/CycleInformation.test.ts
  frontend/src/components/station/Resistance.test.ts
  frontend/src/components/station/StationInformation.test.ts
  frontend/src/components/trajectories/PlannedTrajectory.test.ts
  frontend/src/components/trajectories/RealTrajectory.test.ts
  frontend/src/layouts/MainLayout.test.ts
  frontend/src/util/wrapWithVuetify.ts
  frontend/src/views/Main.test.ts
Due: frontend

Restructure scripts
  scripts/creation/trajectory_creation_sample_1.py
  scripts/src/pathfinding/__init__.py
  scripts/src/pathfinding/breadth_first_search.py
  scripts/src/pathfinding/direction.py
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/map_drawer.py
  scripts/src/pathfinding/node.py
  scripts/src/pathfinding/path_not_found_exception.py
  scripts/src/pathfinding/pathfinder.py
  scripts/src/pathfinding/pathfinding_algorithm.py
  scripts/src/pathfinding/pathfinding_algorithm_factory.py
  scripts/src/pathfinding/rotation_helper.py
  scripts/src/pathfinding/show_path.py
  scripts/src/pathfinding/tile_role.py
  scripts/src/pathfinding/trajectory_creation_sample_1.py
  scripts/src/pathfinding/trajectory_creation_sample_2.py
  scripts/src/samples/sample_script.py
  scripts/tests/creation/__init__.py
  scripts/tests/pathfinding/__init__.py
  scripts/tests/pathfinding/test_breadth_first_search.py
  scripts/tests/pathfinding/test_map.py
  scripts/tests/pathfinding/test_pathfinder.py
  scripts/tests/pathfinding/test_pathfinding_algorithm_factory.py
  scripts/tests/pathfinding/test_rotation_helper.py
  scripts/tests/samples/__init__.py
  scripts/tests/samples/test_sample_script.py
Due: scripts

werid bug
  docker-compose.yml
  robot/Dockerfile
  station/Dockerfile
Due: robot, station

Fix lint
  scripts/.pylintrc
  scripts/tests/pathfinding/test_map.py
  scripts/tests/pathfinding/test_pathfinder.py
Due: scripts

link entre station et robot
  docker-compose.yml
  robot/Dockerfile
  station/Dockerfile
Due: robot, station

fix build
  station/Dockerfile
Due: station

fix build 2
  robot/Dockerfile
Due: robot

remove scikitbuild from dockerfile
  robot/Dockerfile
  robot/requirements.txt
  station/Dockerfile
  station/requirements.txt
Due: robot, station

Add release issue template
  .github/ISSUE_TEMPLATE/unleash_release
Due: none

Fix name of issue template
  .github/ISSUE_TEMPLATE/unleash_release.md
Due: none

Revert "Fix name of issue template"
  .github/ISSUE_TEMPLATE/unleash_release
Due: none

Revert "Add release issue template"
  .github/ISSUE_TEMPLATE/unleash_release
Due: none

new component for controlPanel (1er coin)
  frontend/.storybook/preview.js
  frontend/src/classes/ControlPanelResult.ts
  frontend/src/components/station/ControlPanel.vue
  frontend/src/components/station/Resistance.vue
  frontend/src/components/station/StationInformation.vue
  frontend/src/factories/ControlPanelResult.ts
Due: frontend

stories for storybook
  frontend/.storybook/preview.js
  frontend/src/components/station/ControlPanel.stories.ts
  frontend/src/components/station/ControlPanel.vue
  frontend/src/components/station/StationInformation.vue
Due: frontend

les tests passent FINNNAAALLLLLY
  frontend/src/classes/ControlPanelResult.ts
  frontend/src/components/station/ControlPanel.stories.ts
  frontend/src/components/station/ControlPanel.test.ts
  frontend/src/components/station/ControlPanel.vue
  frontend/src/components/station/StationInformation.vue
Due: frontend

Change round method + add color enum
  scripts/src/mapping/color.py
  scripts/src/mapping/resistance.py
  scripts/src/mapping/resistance_mapper.py
  scripts/tests/mapping/test_resistance.py
  scripts/tests/mapping/test_resistance_mapper.py
Due: scripts

Use Color enum in the color detection script
  scripts/src/detection/detect_puck_arg.py
  scripts/src/detection/lower_boundary.py
  scripts/src/detection/upper_boundary.py
  scripts/tests/detection/test_lower_boundary.py
  scripts/tests/detection/test_puck_detection.py
  scripts/tests/detection/test_upper_boundary.py
Due: scripts

Oops
  scripts/tests/detection/test_puck_detection.py
Due: scripts

Refactor round resistance 2.0
  scripts/src/mapping/resistance.py
  scripts/tests/mapping/test_resistance.py
Due: scripts

pylint
  scripts/src/mapping/resistance.py
Due: scripts

working with qr_code
  scripts/src/detection/detect_robot.py
  scripts/src/detection/qr_code.png
Due: scripts

detect qr code
  scripts/src/detection/detect_robot.py
Due: scripts

tester la méthodes pis c good
  scripts/src/detection/detect_robot.py
  scripts/src/detection/qr_code.png
  scripts/src/detection/qr_code_detection.png
  scripts/src/detection/robot_detection.py
Due: scripts

decode message
  scripts/src/detection/qr_code_obstacle.png
  scripts/src/detection/qr_code_robot.png
  scripts/src/detection/robot_detection.py
Due: scripts

Add basic store with websockets
  frontend/package.json
  frontend/src/main.ts
  frontend/src/store/index.ts
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/yarn.lock
Due: frontend

Add basic action
  frontend/src/store/action-types.ts
  frontend/src/store/actions.ts
  frontend/src/store/mutations.ts
Due: frontend

Implement websocket library
  docker-compose.yml
  frontend/package.json
  frontend/src/main.ts
  frontend/src/store/action-types.ts
  frontend/src/store/actions.ts
  frontend/src/store/index.ts
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/message.ts
  frontend/yarn.lock
Due: frontend

Add robot consumption socket message
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/message.ts
  frontend/src/types/robotConsumption.ts
Due: frontend

Add puck colors socket message
  frontend/src/factories/ColorFactory.ts
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/color.ts
  frontend/src/types/message.ts
Due: frontend

Add puck first corner socket message
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/corner.ts
  frontend/src/types/message.ts
Due: frontend

Add trajectory socket message
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/coordinate.ts
  frontend/src/types/message.ts
Due: frontend

Enhance message names
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
Due: frontend

Add grip state socket message
  frontend/src/store/actions.ts
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/gripState.ts
  frontend/src/types/message.ts
Due: frontend

Add current step socket message
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/message.ts
  frontend/src/types/step.ts
Due: frontend

Fix vuex import
  frontend/src/store/index.ts
Due: frontend

Add mutation for table image
  frontend/src/store/mutation-types.ts
  frontend/src/store/mutations.ts
  frontend/src/store/state.ts
  frontend/src/types/message.ts
Due: frontend

Fix test to use state
  frontend/src/components/consumptions/ConsumptionInformation.test.ts
  frontend/src/components/cycles/CycleInformation.test.ts
  frontend/src/components/station/Resistance.test.ts
  frontend/src/components/station/Resistance.vue
  frontend/src/components/station/StationInformation.test.ts
  frontend/src/components/station/StationInformation.vue
  frontend/src/components/trajectories/PlannedTrajectory.test.ts
  frontend/src/components/trajectories/RealTrajectory.test.ts
  frontend/src/layouts/MainLayout.test.ts
  frontend/src/util/wrapWithVuetify.ts
  frontend/src/util/wrapWithVuetifyAndStore.ts
  frontend/src/views/Main.test.ts
Due: frontend

Fix Resistance story to use VUex
  frontend/src/components/station/Resistance.stories.ts
  frontend/src/factories/ColorFactory.ts
Due: frontend

Remove TODOs
  frontend/src/store/mutations.ts
Due: frontend

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
