Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches:
    - "develop"
    - "main"
flags:
  scripts:
    paths:
      - scripts
    carryforward: true
  robot:
    paths:
      - robot
    carryforward: true
  station:
    paths:
      - station
    carryforward: true
  frontend:
    paths:
      - frontend
    carryforward: true

acuro markers
  scripts/src/detection/acuro_markers/AcuroMarkers.py
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/obstacle_manuel_testing.py
  scripts/src/detection/acuro_markers/obstacle_position.py
  scripts/src/detection/acuro_markers/robot_5x5_five.jpg
  scripts/src/detection/acuro_markers/robot_5x5_four.jpg
  scripts/src/detection/acuro_markers/robot_5x5_one.jpg
  scripts/src/detection/acuro_markers/robot_5x5_three.jpg
  scripts/src/detection/acuro_markers/robot_detection.py
  scripts/src/detection/acuro_markers/robot_detection_testing.py
  scripts/src/detection/acuro_markers/testing.jpg
  scripts/src/detection/obstacle/__init__.py
  scripts/src/detection/obstacle/image_obstacle.jpg
  scripts/src/detection/obstacle/obstacle_manuel_testing.py
  scripts/src/detection/obstacle/testing_two.jpg
  scripts/src/detection/robot/__init__.py
  scripts/src/detection/robot/robot_5x5_two.jpg
Due: scripts

fix pylint
  scripts/.pylintrc
  scripts/src/detection/puck_detection.py
  scripts/src/detection/square_detection.py
Due: scripts

robot_detection
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/obstacle_detection.pyc
  scripts/src/detection/acuro_markers/obstacle_position.py
  scripts/src/detection/acuro_markers/robot_detection.py
Due: scripts

pylint est good enfin
  scripts/src/detection/puck_detection.py
Due: scripts

ptits refactor
  scripts/src/detection/puck_detection.py
  scripts/src/detection/square_detection.py
  scripts/tests/detection/test_square_detection.py
Due: scripts

fix
  scripts/tests/detection/test_square_detection.py
Due: scripts

return right detection
  scripts/src/detection/acuro_markers/obstacle_detection.py
  scripts/src/detection/acuro_markers/obstacle_detection.pyc
  scripts/src/detection/acuro_markers/obstacle_manuel_testing.py
  scripts/src/detection/acuro_markers/robot_detection.py
  scripts/src/detection/acuro_markers/testing.jpg
Due: scripts

enlever une ligne
  scripts/src/detection/square_detection.py
Due: scripts

Delete .DS_Store
  scripts/.DS_Store
Due: scripts

mode component + stories
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/Mode.stories.ts
  frontend/src/components/cycles/Mode.vue
Due: frontend

Good version need a factory of plannedTrajectory
  frontend/src/components/trajectories/PlannedTrajectory.stories.ts
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

tests
  frontend/src/components/cycles/Mode.test.ts
  frontend/src/components/cycles/Mode.vue
Due: frontend

Ajustement code testé au lab
  scripts/src/mapping/letter_mapping.py
  scripts/src/servo/follow_color.py
Due: scripts

VOILA je dédis ce commit à Fred pour le switch -> chip
  frontend/src/components/station/PuckInGrip.test.ts
  frontend/src/components/station/PuckInGrip.vue
Due: frontend

fix
  frontend/src/components/station/PuckInGrip.test.ts
Due: frontend

change color for old people
  frontend/src/components/station/PuckInGrip.vue
Due: frontend

up to date with develop
  frontend/src/components/trajectories/PlannedTrajectory.stories.ts
  frontend/src/components/trajectories/PlannedTrajectory.vue
Due: frontend

fix tests?
  station/path_planning/src/__init__.py
  station/path_planning/src/main.py
  station/path_planning/src/pathfinding/breadth_first_search.py
  station/path_planning/src/pathfinding/map.py
  station/path_planning/src/pathfinding/node.py
  station/path_planning/src/pathfinding/pathfinding_algorithm_factory.py
  station/path_planning/src/pathfinding/show_path.py
  station/path_planning/tests/__init__.py
  station/path_planning/tests/pathfinding/__init__.py
  station/path_planning/tests/pathfinding/test_breadth_first_search.py
  station/path_planning/tests/pathfinding/test_map.py
  station/path_planning/tests/pathfinding/test_pathfinder.py
  station/path_planning/tests/pathfinding/test_pathfinding_algorithm_factory.py
  station/path_planning/tests/pathfinding/test_rotation_helper.py
  station/path_planning/tests/test_sample.py
Due: station

lint?
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/pathfinder.py
  scripts/src/pathfinding/show_path.py
  scripts/tests/pathfinding/test_map.py
  scripts/tests/pathfinding/test_pathfinder.py
  station/.pylintrc
Due: scripts, station

fix /scripts lint
  scripts/src/pathfinding/map.py
  scripts/src/pathfinding/show_path.py
  scripts/src/pathfinding/trajectory_creation_sample_1.py
  scripts/src/pathfinding/trajectory_creation_sample_2.py
Due: scripts

fix /station lint
  scripts/src/pathfinding/trajectory_creation_sample_1.py
  scripts/src/pathfinding/trajectory_creation_sample_2.py
  station/path_planning/tests/pathfinding/test_map.py
Due: scripts, station

fix /scripts lint (pour de vrai la)
  scripts/tests/pathfinding/test_map.py
Due: scripts

pull develop again and fix styling
  frontend/src/components/cycles/Mode.vue
Due: frontend

Add CoordinateFactory
  frontend/public/stub_table_image.jpg
  frontend/src/components/cycles/Chronometer.test.ts
  frontend/src/components/cycles/Chronometer.vue
  frontend/src/components/cycles/StartButton.vue
  frontend/src/components/trajectories/PlannedTrajectory.stories.ts
  frontend/src/components/trajectories/PlannedTrajectory.vue
  frontend/src/factories/CoordinateFactory.ts
  frontend/src/factories/StateFactory.ts
Due: frontend

Fix getting points in component
  frontend/src/components/trajectories/PlannedTrajectory.vue
  frontend/src/components/trajectories/TrajectoryGraph.vue
  frontend/src/factories/CoordinateFactory.ts
Due: frontend

Use CoordinateFactory in StateFactory
  frontend/src/factories/StateFactory.ts
Due: frontend

Fix test setup to use mocked state
  frontend/src/components/station/ControlPanel.test.ts
  frontend/src/components/station/Resistance.test.ts
  frontend/src/factories/StateFactory.ts
  frontend/src/util/wrapWithVuetifyAndStore.ts
Due: frontend

Add handle for robot
  station/websockets/src/main.py
Due: station

Enhance cycle ready
  station/websockets/src/main.py
Due: station

Add handle for resistance
  station/websockets/src/main.py
Due: station

Prepare basic websockets package
  station/websockets/CMakeLists.txt
  station/websockets/__init__.py
  station/websockets/package.xml
  station/websockets/src/__init__.py
  station/websockets/src/main.py
  station/world_camera_driver/package.xml
Due: station

Add handle for path
  station/websockets/src/main.py
Due: station

Remove old server
  frontend/.env
  station/websockets/src/main.py
Due: station, frontend

Handle puck colors
  station/websockets/src/main.py
Due: station

Handle puck corners
  station/websockets/src/main.py
Due: station

Add basic socket emit
  station/requirements.txt
  station/websockets/src/main.py
Due: station

Handle start cycle
  station/websockets/src/main.py
Due: station

Handle end
  station/websockets/src/main.py
Due: station

Add basic table image emit
  station/websockets/src/main.py
Due: station

Encode image to json
  station/websockets/src/main.py
Due: station
