Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

fix test application
  scripts/src/detection/qr_code_detection.py
Due: scripts

fix test application
  scripts/tests/detection/test_qr_detection.py
Due: scripts

fix test application
  scripts/src/detection/qr_code_detection.py
  scripts/tests/detection/test_qr_detection.py
Due: scripts

Code pour le déplacement de la caméra pour suivre la couleur fonctionne a 69%
  scripts/src/servo/follow_color.py
Due: scripts

Fix some things in follow_color.py
  scripts/.pylintrc
  scripts/src/servo/__init__.py
  scripts/src/servo/follow_color.py
Due: scripts

Enhance script
  scripts/.pylintrc
  scripts/src/servo/follow_color.py
Due: scripts

Hotfix follow_color.py
  scripts/src/servo/follow_color.py
Due: scripts

tcheck
  scripts/src/detection/qr_code_detection.py
  scripts/tests/detection/test_qr_detection.py
  scripts/tests/detection/test_square_detection.py
Due: scripts

remove useless space
  scripts/tests/detection/test_qr_detection.py
Due: scripts

add test
  scripts/tests/detection/test_qr_detection.py
  scripts/tests/detection/test_square_detection.py
Due: scripts

line
  scripts/tests/detection/test_square_detection.py
Due: scripts

pylint passe tu
  scripts/tests/detection/test_qr_detection.py
  scripts/tests/detection/test_square_detection.py
Due: scripts

add test
  scripts/src/detection/qr_code_detection.py
  scripts/tests/detection/test_square_detection.py
Due: scripts

add test
  scripts/src/detection/qr_code_detection.py
  scripts/tests/detection/test_qr_detection.py
  scripts/tests/detection/test_square_detection.py
Due: scripts

add more test
  scripts/tests/detection/test_square_detection.py
Due: scripts

more test
  scripts/tests/detection/test_qr_detection.py
Due: scripts

condition
  scripts/src/detection/qr_code_detection.py
Due: scripts

Detection at 90% of the corners
  scripts/src/detection/start_area_detection.py
Due: scripts

center of the square
  scripts/src/detection/start_area_detection.py
  scripts/tests/samples/test_sample_script.py
Due: scripts

table detection
  scripts/src/detection/lower_boundary.py
  scripts/src/detection/object_detection.py
  scripts/src/detection/qr_code_detection.py
  scripts/src/detection/square_detection.py
  scripts/src/detection/table_detection.py
  scripts/src/detection/upper_boundary.py
  scripts/src/detection/utils/__init__.py
Due: scripts

change hsv of colors
  scripts/src/detection/lower_boundary.py
  scripts/src/detection/monde4.jpg
  scripts/src/detection/puck_detection.py
  scripts/src/detection/qr_code_detection.py
  scripts/src/detection/square_detection.py
  scripts/src/detection/table_detection.py
  scripts/src/detection/upper_boundary.py
  scripts/src/detection/utils/camera_monde_qr.jpg
  scripts/src/detection/utils/monde4.jpg
  scripts/src/detection/utils/position.py
  scripts/src/detection/utils/track_bar_color.py
Due: scripts

position calculator
  scripts/src/detection/utils/PositionCalculator.py
  scripts/tests/detection/test_position_calculator.py
Due: scripts

change hsv of certain colors
  scripts/src/detection/monde6.jpg
  scripts/src/detection/puck_detection.py
  scripts/src/detection/upper_boundary.py
Due: scripts

change place of position and positionCalculator class
  scripts/src/detection/PositionCalculator.py
  scripts/src/detection/position.py
  scripts/src/detection/qr_code_detection.py
  scripts/src/detection/square_detection.py
  scripts/tests/detection/test_position_calculator.py
Due: scripts

component, test and storybook
  frontend/src/components/station/PuckInClamp.stories.ts
  frontend/src/components/station/PuckInClamp.test.ts
  frontend/src/components/station/PuckInClamp.vue
  frontend/src/components/station/StationInformation.vue
  frontend/src/factories/StateFactory.ts
Due: frontend

minor fix
  frontend/src/components/station/PuckInClamp.vue
Due: frontend

fix both component title
  frontend/src/components/station/ControlPanel.vue
  frontend/src/components/station/Resistance.vue
Due: frontend

define enum steps
  frontend/src/types/step.ts
Due: frontend

fix thx Gab
  frontend/src/types/step.ts
Due: frontend

spelling gone wrong
  frontend/src/types/step.ts
Due: frontend

missing step
  frontend/src/types/step.ts
Due: frontend

delete comments
  frontend/src/types/step.ts
Due: frontend

naming
  frontend/src/components/station/PuckInClamp.stories.ts
  frontend/src/components/station/PuckInGrip.stories.ts
  frontend/src/components/station/PuckInGrip.test.ts
  frontend/src/components/station/PuckInGrip.vue
  frontend/src/components/station/StationInformation.vue
Due: frontend

naming in tests
  frontend/src/components/station/PuckInGrip.test.ts
Due: frontend

what about now?
  frontend/src/types/step.ts
Due: frontend

remove print
  scripts/src/pathfinding/map.py
Due: scripts

Set up path planning package blindly
  robot/path_planning/CMakeLists.txt
  robot/path_planning/__init__.py
  robot/path_planning/package.xml
  robot/path_planning/src/__init__.py
  robot/path_planning/src/main.py
  robot/path_planning/tests/__init__.py
  robot/path_planning/tests/test_sample.py
  scripts/src/pathfinding/show_path.py
Due: scripts, robot

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
