Repository GLO3013-E4/COViRondelle2021: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, robot, station, frontend

story for difficult colors to see, patch some problems with it
  frontend/src/Factories/resistanceFactory.ts
  frontend/src/components/station/Resistance.stories.ts
  frontend/src/components/station/Resistance.vue
  frontend/src/components/station/StationInformation.vue
Due: frontend

add story for yellow puck
  frontend/src/components/station/Resistance.stories.ts
Due: frontend

change naming
  frontend/src/components/station/Resistance.stories.ts
Due: frontend

Fix typo in CONTRIBUTING.md (sorry David, I fucked your name up)
  CONTRIBUTING.md
Due: none

remove images
  scripts/data/images/monde.jpg
  scripts/data/images/monde10.jpg
  scripts/data/images/monde11.jpg
  scripts/data/images/monde12.jpg
  scripts/data/images/monde13.jpg
  scripts/data/images/monde14.jpg
  scripts/data/images/monde2.jpg
  scripts/data/images/monde3.jpg
  scripts/data/images/monde4.jpg
  scripts/data/images/monde5.jpg
  scripts/data/images/monde6.jpg
  scripts/data/images/monde7.jpg
  scripts/data/images/monde8.jpg
  scripts/data/images/monde9.jpg
Due: scripts

Corrections
  scripts/src/detection/detect_puck_arg.py
  scripts/src/detection/puck_detection.py
  scripts/src/detection/utils/stack_images.py
  scripts/tests/detection/test_lower_boundary.py
  scripts/tests/detection/test_puck_detection.py
  scripts/tests/detection/test_upper_boundary.py
  scripts/tests/test_puck_detection.py
Due: scripts

remove venv in gitignore file
  .gitignore
Due: none

init new branch
  scripts/src/detection/obstacle/obstacle_detection.py
Due: scripts

obstacles lower and upepr boundary
  scripts/src/detection/utils/monde2.jpg
  scripts/src/detection/utils/monde3.jpg
  scripts/src/detection/utils/monde4.jpg
  scripts/src/detection/utils/monde5.jpg
  scripts/src/detection/utils/monde6.jpg
  scripts/src/detection/utils/track_bar_color.py
Due: scripts

lower and upper boundaries of obstacle
  scripts/src/detection/lower_boundary.py
  scripts/src/detection/upper_boundary.py
Due: scripts

ping pong mon vieux
  scripts/src/detection/obstacle/obstacle_detection.py
  scripts/tests/detection/obstacle/__init__.py
  scripts/tests/detection/obstacle/test_obstacle_detection.py
  scripts/tests/detection/test_lower_boundary.py
  scripts/tests/detection/test_upper_boundary.py
Due: scripts

back at you
  scripts/src/detection/monde3.jpg
  scripts/src/detection/obstacle/obstacle_detection.py
  scripts/src/detection/obstacle_detection.py
  scripts/tests/detection/obstacle/test_obstacle_detection.py
Due: scripts

hello
  scripts/src/detection/obstacle_detection.py
Due: scripts

detect obstacl works
  scripts/src/detection/obstacle_detection.py
Due: scripts

pylint
  scripts/src/detection/detect_puck_arg.py
  scripts/src/detection/lower_boundary.py
  scripts/src/detection/puck_detection.py
  scripts/src/detection/upper_boundary.py
  scripts/tests/detection/test_puck_detection.py
  scripts/tests/test_puck_detection.py
Due: scripts

pylint
  scripts/src/detection/puck_detection.py
  scripts/tests/detection/test_puck_detection.py
  scripts/tests/test_puck_detection.py
Due: scripts

pylint
  scripts/src/detection/puck_detection.py
  scripts/tests/detection/monde3.jpg
  scripts/tests/detection/test_puck_detection.py
Due: scripts

py lint devrait passer
  scripts/src/detection/puck_detection.py
Due: scripts

test failed
  scripts/tests/detection/test_puck_detection.py
Due: scripts

add resistance component tests
  frontend/src/components/station/Resistance.test.ts
  frontend/src/components/station/Resistance.vue
  frontend/src/components/station/StationInformation.vue
Due: frontend

add parent
  scripts/src/detection/object_detection.py
  scripts/src/detection/obstacle_detection.py
  scripts/src/detection/puck_detection.py
Due: scripts

add disable pylint
  scripts/.pylintrc
  scripts/src/detection/puck_detection.py
  scripts/src/detection/upper_boundary.py
  scripts/src/detection/utils/monde2.jpg
  scripts/src/detection/utils/track_bar_color.py
Due: scripts

fix tests and PR comments
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/cycles/CycleList.vue
  frontend/src/components/station/Resistance.test.ts
  frontend/src/components/station/StationInformation.vue
Due: frontend

add obstacle class
  scripts/src/detection/object_detection.py
  scripts/src/detection/obstacle_detection.py
  scripts/src/detection/puck_detection.py
  scripts/tests/detection/obstacle/__init__.py
  scripts/tests/detection/test_obstacle_detection.py
  scripts/tests/detection/test_puck_detection.py
  scripts/tests/test_puck_detection.py
Due: scripts

gros ajout
  scripts/tests/detection/test_obstacle_detection.py
Due: scripts

m'a viré fou
  scripts/src/detection/lower_boundary.py
  scripts/src/detection/object_detection.py
  scripts/src/detection/obstacle_detection.py
  scripts/src/detection/puck_detection.py
  scripts/src/detection/upper_boundary.py
  scripts/tests/detection/test_object_detection.py
  scripts/tests/detection/test_puck_detection.py
Due: scripts

Add resistance tests
  scripts/src/mapping/resistance.py
  scripts/src/mapping/resistance_mapping.py
  scripts/tests/mapping/test_resistance.py
  scripts/tests/mapping/test_resistance_mapper.py
Due: scripts

Add resistance mapper tests
  scripts/src/mapping/resistance_mapper.py
  scripts/tests/mapping/test_resistance_mapper.py
Due: scripts

Add comment
  scripts/src/mapping/resistance_mapper.py
Due: scripts

pylint?
  scripts/.pylintrc
Due: scripts

pylint
  scripts/creation/path_not_found_exception.py
  scripts/tests/creation/test_breadth_first_search.py
  scripts/tests/creation/test_map.py
  scripts/tests/creation/test_pathfinder.py
  scripts/tests/creation/test_pathfinding_algorithm_factory.py
  scripts/tests/creation/test_rotation_helper.py
Due: scripts

pylint
  scripts/src/mapping/resistance.py
  scripts/src/mapping/resistance_mapper.py
  scripts/tests/mapping/test_resistance.py
  scripts/tests/mapping/test_resistance_mapper.py
Due: scripts

Get resistance from a command line argument
  scripts/src/mapping/resistance_mapping.py
Due: scripts

remove pylint comment
  scripts/src/detection/lower_boundary.py
Due: scripts

driver fait
  station/Dockerfile
  station/world_camera_driver/CMakeLists.txt
  station/world_camera_driver/launch/camera.launch
  station/world_camera_driver/package.xml
Due: station

fixed boilerplate
  station/world_camera_driver/CMakeLists.txt
  station/world_camera_driver/package.xml
Due: station

removed comments
  robot/main/CMakeLists.txt
  robot/main/package.xml
  station/main/CMakeLists.txt
  station/main/package.xml
Due: robot, station

Clarify and fix lint
  frontend/jest.config.js
  frontend/src/Factories/resistanceFactory.ts
  frontend/src/components/consumptions/ConsumptionInformation.stories.ts
  frontend/src/components/consumptions/ConsumptionInformation.vue
  frontend/src/components/cycles/CycleInformation.stories.ts
  frontend/src/components/station/Resistance.stories.ts
  frontend/src/components/station/Resistance.test.ts
  frontend/src/components/station/Resistance.vue
  frontend/src/components/station/StationInformation.stories.ts
  frontend/src/components/trajectories/PlannedTrajectory.stories.ts
  frontend/src/components/trajectories/PlannedTrajectory.vue
  frontend/src/components/trajectories/RealTrajectory.stories.ts
  frontend/src/components/trajectories/RealTrajectory.vue
  frontend/src/factories/ColorFactory.ts
  frontend/src/layouts/MainLayout.stories.ts
  frontend/src/main.ts
  frontend/src/plugins/vuetify.ts
  frontend/src/views/Main.stories.ts
Due: frontend

Apply prettier fix
  frontend/.eslintrc.js
  frontend/.prettierrc.json
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/consumptions/ConsumptionInformation.stories.ts
  frontend/src/components/consumptions/ConsumptionInformation.test.ts
  frontend/src/components/consumptions/ConsumptionInformation.vue
  frontend/src/components/cycles/CycleInformation.stories.ts
  frontend/src/components/cycles/CycleInformation.test.ts
  frontend/src/components/cycles/CycleInformation.vue
  frontend/src/components/station/Resistance.stories.ts
  frontend/src/components/station/Resistance.test.ts
  frontend/src/components/station/Resistance.vue
  frontend/src/components/station/StationInformation.stories.ts
  frontend/src/components/station/StationInformation.test.ts
  frontend/src/components/station/StationInformation.vue
  frontend/src/components/trajectories/PlannedTrajectory.stories.ts
  frontend/src/components/trajectories/PlannedTrajectory.test.ts
  frontend/src/components/trajectories/PlannedTrajectory.vue
  frontend/src/components/trajectories/RealTrajectory.stories.ts
  frontend/src/components/trajectories/RealTrajectory.test.ts
  frontend/src/components/trajectories/RealTrajectory.vue
  frontend/src/factories/ColorFactory.ts
  frontend/src/hooks/useVuetify.ts
  frontend/src/layouts/MainLayout.stories.ts
  frontend/src/layouts/MainLayout.test.ts
  frontend/src/layouts/MainLayout.vue
  frontend/src/main.ts
  frontend/src/plugins/vuetify.ts
  frontend/src/setupTests.ts
  frontend/src/shims-tsx.d.ts
  frontend/src/shims-vue.d.ts
  frontend/src/views/Main.stories.ts
  frontend/src/views/Main.test.ts
  frontend/src/views/Main.vue
Due: frontend

Path conditions:
  scripts: any of: scripts
  robot: any of: robot
  station: any of: station
  frontend: any of: frontend
